<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.nuoxin.virtual.rep.api.slave.mybatis.ScheduledSyncSlaveMapper">

    <!-- 得到从库最新的角色创建时间 -->
    <select id="getRoleNewCreateTime" resultType="java.lang.String">
        SELECT DATE_FORMAT(t.create_time,'%Y-%c-%d %T:%i:%s') create_time FROM enterprise_role t ORDER BY t.create_time DESC LIMIT 1
    </select>

    <!-- 得到从库最新的角色更新时间 -->
    <select id="getRoleNewUpdateTime" resultType="java.lang.String">
        SELECT DATE_FORMAT(t.update_time,'%Y-%c-%d %T:%i:%s') update_time FROM enterprise_role t ORDER BY t.update_time DESC LIMIT 1
    </select>

    <!-- 同步角色数据到从库 insert -->
    <insert id="syncRoleList">
        INSERT INTO enterprise_role (`id`,role_name,create_time,update_time)
        VALUES
        <foreach collection="list" item="list" separator=",">
            (#{list.id},#{list.roleName},#{list.createDate},#{list.updateDate})
        </foreach>
    </insert>

    <!-- 同步角色数据到从库 update -->
    <update id="syncUpdateRoleList">
        UPDATE enterprise_role t
        SET t.role_name = #{roleName},
        t.create_time = #{createTime},
        t.update_time = #{updateTime}
        WHERE
            id = #{id}
    </update>
</mapper>