<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.nuoxin.virtual.rep.api.slave.mybatis.TestSlaveMapper">

    <!-- 得到产品名称 -->
    <select id="getProductName" resultType="java.lang.String">
        SELECT t.name FROM enterprise_product t WHERE id=#{productId}
    </select>

</mapper>