<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.nuoxin.virtual.rep.api.mybatis.ActivityWechatShareMapper">


    <insert id="batchInsert">
        INSERT INTO virtual_activity_wechat_share(content_id, doctor_id, drug_user_id)
        VALUES
        <foreach collection ="list" item="s" separator =",">
            (#{s.contentId}, #{s.doctorId}, #{s.drugUserId})
        </foreach>
    </insert>

</mapper>