<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.nuoxin.virtual.rep.api.mybatis.ContentSharingMapper">

    <!-- 内容分享列表分页 -->
    <select id="getContentSharingListPage" resultType="com.nuoxin.virtual.rep.api.entity.v3_0.params.ContentSharingParams">
        SELECT
            m.id,
            m.title,
            str_to_date(m.time, '%Y-%m-%d %H:%i:%s') `time`,
            m.share_type AS shareType,
            m.drug_user_id AS drugUserId,
            m.drug_user_name AS drugUserName,
            count(m.title) AS peopleNumber,
            SUM(m.read_time) AS totalDuration,
            m.product_id AS productId,
            m.prod_name AS prodName,
            m.sale_type AS saleType
        FROM
            (
                SELECT
                t.id,
                t.title,
                t.time,
                r.share_type,
                r.data_id,
                r.drug_user_id,
                r.drug_user_name,
                r.read_person_id,
                r.read_person_name,
                r.read_time,
                p.product_id,
                l.prod_name,
                u.sale_type
                FROM
                activity_info t
                JOIN activity_read r ON t.id = r.data_id
                JOIN activity_read_ip ip ON r.read_token = ip.read_token
                JOIN t_content_product p ON p.content_id = t.id
                JOIN product_line l ON p.product_id = l.prod_id
                JOIN drug_user u ON u.id = r.drug_user_id
                WHERE
                1 = 1
                <if test="drugUserIds.size() > 0 and drugUserIds != null">
                    AND r.drug_user_id in
                    <foreach collection="drugUserIds" item="drugUserIds" separator="," open="(" close=")">
                        #{drugUserIds}
                    </foreach>
                </if>
                AND r.data_id = t.id
                <if test="contentSharingRequest.shareType != 0 and contentSharingRequest.shareType != null">
                    AND r.share_type = #{contentSharingRequest.shareType}
                </if>
                AND (
                ip.isp IS NULL
                OR ip.isp != '阿里云'
                )
                <if test="contentSharingRequest.productId != 0 and contentSharingRequest.productId != null">
                    AND l.prod_id = #{contentSharingRequest.productId}
                </if>
                <if test="contentSharingRequest.startTimeBefore != '' and contentSharingRequest.startTimeBefore != null">
                    AND t.time &gt;= #{contentSharingRequest.startTimeBefore}
                </if>

                <if test="contentSharingRequest.startTimeAfter != '' and contentSharingRequest.startTimeAfter != null">
                    AND t.time &lt;= #{contentSharingRequest.startTimeAfter}
                </if>

                <if test="contentSharingRequest.title != '' and contentSharingRequest.title != null">
                    AND t.title LIKE "%"#{contentSharingRequest.title}"%"
                </if>

                GROUP BY
                r.read_person_id,
                t.id
            ) m
        GROUP BY
            title
        LIMIT #{contentSharingRequest.currentSize},#{contentSharingRequest.pageSize}
    </select>

    <!-- 内容分享列表总数 -->
    <select id="getContentSharingListCount" resultType="com.nuoxin.virtual.rep.api.entity.v3_0.params.ContentSharingParams">
        SELECT
            m.title
        FROM
            (
                SELECT
                  t.title
                FROM
                activity_info t
                JOIN activity_read r ON t.id = r.data_id
                JOIN activity_read_ip ip ON r.read_token = ip.read_token
                JOIN t_content_product p ON p.content_id = t.id
                JOIN product_line l ON p.product_id = l.prod_id
                JOIN drug_user u ON u.id = r.drug_user_id
                WHERE
                1 = 1
                <if test="drugUserIds.size() > 0 and drugUserIds != null">
                    AND r.drug_user_id in
                    <foreach collection="drugUserIds" item="drugUserIds" separator="," open="(" close=")">
                        #{drugUserIds}
                    </foreach>
                </if>
                AND r.data_id = t.id
                <if test="contentSharingRequest.shareType != 0 and contentSharingRequest.shareType != null">
                    AND r.share_type = #{contentSharingRequest.shareType}
                </if>
                AND (
                ip.isp IS NULL
                OR ip.isp != '阿里云'
                )
                <if test="contentSharingRequest.productId != 0 and contentSharingRequest.productId != null">
                    AND l.prod_id = #{contentSharingRequest.productId}
                </if>
                <if test="contentSharingRequest.startTimeBefore != '' and contentSharingRequest.startTimeBefore != null">
                    AND t.time &gt;= #{contentSharingRequest.startTimeBefore}
                </if>

                <if test="contentSharingRequest.startTimeAfter != '' and contentSharingRequest.startTimeAfter != null">
                    AND t.time &lt;= #{contentSharingRequest.startTimeAfter}
                </if>

                <if test="contentSharingRequest.title != '' and contentSharingRequest.title != null">
                    AND t.title LIKE "%"#{contentSharingRequest.title}"%"
                </if>

                GROUP BY
                r.read_person_id,
                t.id
            ) m
        GROUP BY
        m.title
    </select>

    <!-- 内容阅读记录列表 -->
    <select id="getContentReadLogsListPage" resultType="com.nuoxin.virtual.rep.api.entity.v3_0.params.ContentReadLogsParams">
        SELECT
            t.id,
            t.data_id AS dataId,
            d.id AS doctorId,
            d.`name` AS doctorName,
            d.hospital_name AS hospitalName,
            d.depart,
            t.create_time AS createTime,
            t.read_time AS readTime
        FROM
            activity_read t
        JOIN activity_read_ip ip ON t.read_token = ip.read_token
        JOIN doctor d ON t.read_person_id = d.id
        WHERE
            1 = 1
        AND (
            ip.isp IS NULL
            OR ip.isp != '阿里云'
        )
        AND t.data_id = #{contentReadLogsRequest.dataId}
        GROUP BY t.data_id,d.id
        LIMIT #{contentReadLogsRequest.currentSize},#{contentReadLogsRequest.pageSize}
    </select>

    <!-- 内容阅读记录列表Count -->
    <select id="getContentReadLogsListCount" resultType="java.lang.Integer">
        SELECT
            COUNT(m.id)
        FROM
            (
                SELECT
                    t.id
                FROM
                    activity_read t
                JOIN activity_read_ip ip ON t.read_token = ip.read_token
                JOIN doctor d ON t.read_person_id = d.id
                WHERE
                    1 = 1
                AND (
                    ip.isp IS NULL
                    OR ip.isp != '阿里云'
                )
                AND t.data_id = #{contentReadLogsRequest.dataId}
                GROUP BY
                    t.data_id,
                    d.id
            ) m
    </select>

    <!-- 根据内容ID和医生ID查询阅读时间数组和阅读时长数组 -->
    <select id="getReadTimeAndReadDurationByDataIdAndDoctorId" resultType="com.nuoxin.virtual.rep.api.entity.v3_0.params.ContentReadLogsTimeParams">
        SELECT
            t.create_time AS createTime,t.read_time AS readTime
        FROM
            activity_read t
        WHERE
            t.read_person_id = #{doctorId}
        AND t.data_id = #{dataId}
    </select>

    <!-- 内容分享列表 -->
    <select id="getContentSharingList" resultType="java.util.Map">
        SELECT
        m.id,
        m.title,
        str_to_date(m.time, '%Y-%m-%d %H:%i:%s') `time`,
        m.share_type AS shareType,
        m.drug_user_id AS drugUserId,
        m.drug_user_name AS drugUserName,
        count(m.title) AS peopleNumber,
        SUM(m.read_time) AS totalDuration,
        m.product_id AS productId,
        m.prod_name AS prodName,
        m.sale_type AS saleType
        FROM
        (
            SELECT
            t.id,
            t.title,
            t.time,
            r.share_type,
            r.data_id,
            r.drug_user_id,
            r.drug_user_name,
            r.read_person_id,
            r.read_person_name,
            r.read_time,
            p.product_id,
            l.prod_name,
            u.sale_type
            FROM
            activity_info t
            JOIN activity_read r ON t.id = r.data_id
            JOIN activity_read_ip ip ON r.read_token = ip.read_token
            JOIN t_content_product p ON p.content_id = t.id
            JOIN product_line l ON p.product_id = l.prod_id
            JOIN drug_user u ON u.id = r.drug_user_id
            WHERE
            1 = 1
            <if test="drugUserIds.size() > 0 and drugUserIds != null">
                AND r.drug_user_id in
                <foreach collection="drugUserIds" item="drugUserIds" separator="," open="(" close=")">
                    #{drugUserIds}
                </foreach>
            </if>
            AND r.data_id = t.id
            <if test="contentSharingRequest.shareType != 0 and contentSharingRequest.shareType != null">
                AND r.share_type = #{contentSharingRequest.shareType}
            </if>
            AND (
            ip.isp IS NULL
            OR ip.isp != '阿里云'
            )
            <if test="contentSharingRequest.productId != 0 and contentSharingRequest.productId != null">
                AND l.prod_id = #{contentSharingRequest.productId}
            </if>
            <if test="contentSharingRequest.startTimeBefore != '' and contentSharingRequest.startTimeBefore != null">
                AND t.time &gt;= #{contentSharingRequest.startTimeBefore}
            </if>

            <if test="contentSharingRequest.startTimeAfter != '' and contentSharingRequest.startTimeAfter != null">
                AND t.time &lt;= #{contentSharingRequest.startTimeAfter}
            </if>

            <if test="contentSharingRequest.title != '' and contentSharingRequest.title != null">
                AND t.title LIKE "%"#{contentSharingRequest.title}"%"
            </if>

            GROUP BY
            r.read_person_id,
            t.id
        ) m
        GROUP BY
        title
    </select>

    <!-- 内容分享列表 -->
    <select id="getContentSharingCSVList" resultType="com.nuoxin.virtual.rep.api.entity.v3_0.params.ContentSharingParams">
        SELECT
        m.id,
        m.title,
        str_to_date(m.time, '%Y-%m-%d %H:%i:%s') `time`,
        m.share_type AS shareType,
        m.drug_user_id AS drugUserId,
        m.drug_user_name AS drugUserName,
        count(m.title) AS peopleNumber,
        SUM(m.read_time) AS totalDuration,
        m.product_id AS productId,
        m.prod_name AS prodName,
        m.sale_type AS saleType
        FROM
        (
            SELECT
            t.id,
            t.title,
            t.time,
            r.share_type,
            r.data_id,
            r.drug_user_id,
            r.drug_user_name,
            r.read_person_id,
            r.read_person_name,
            r.read_time,
            p.product_id,
            l.prod_name,
            u.sale_type
            FROM
            activity_info t
            JOIN activity_read r ON t.id = r.data_id
            JOIN activity_read_ip ip ON r.read_token = ip.read_token
            JOIN t_content_product p ON p.content_id = t.id
            JOIN product_line l ON p.product_id = l.prod_id
            JOIN drug_user u ON u.id = r.drug_user_id
            WHERE
            1 = 1
            <if test="drugUserIds.size() > 0 and drugUserIds != null">
                AND r.drug_user_id in
                <foreach collection="drugUserIds" item="drugUserIds" separator="," open="(" close=")">
                    #{drugUserIds}
                </foreach>
            </if>
            AND r.data_id = t.id
            <if test="shareType != 0 and shareType != null">
                AND r.share_type = #{shareType}
            </if>
            AND (
            ip.isp IS NULL
            OR ip.isp != '阿里云'
            )
            <if test="productId != 0 and productId != null">
                AND l.prod_id = #{productId}
            </if>
            <if test="startTimeBefore != '' and startTimeBefore != null">
                AND t.time &gt;= #{startTimeBefore}
            </if>

            <if test="startTimeAfter != '' and startTimeAfter != null">
                AND t.time &lt;= #{startTimeAfter}
            </if>

            <if test="title != '' and title != null">
                AND t.title LIKE "%"#{title}"%"
            </if>

            GROUP BY
            r.read_person_id,
            t.id
        ) m
        GROUP BY
        m.title
    </select>
</mapper>