<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.nuoxin.virtual.rep.api.mybatis.ContentSharingMapper">

    <!-- 内容分享列表分页 -->
    <select id="getContentSharingListPage" resultType="com.nuoxin.virtual.rep.api.entity.v3_0.params.ContentSharingParams">
        SELECT
            m.id,
            m.title,
            str_to_date(m.time, '%Y-%m-%d %H:%i:%s') `time`,
            m.shareType,
            m.drugUserId,
            m.drugUserName,
            m.readPersonId,
            m.m.readPersonName,
            SUM(m.readTime) totalDuration,
            m.productId,
            m.prodName,
            m.saleType
        FROM
            (
                SELECT
                    t.id,
                    t.title,
                    t.time,
                    r.share_type AS sharetype,
                    r.data_id AS dataId,
                    r.drug_user_id AS drugUserId,
                    r.drug_user_name AS drugUserName,
                    r.read_person_id AS readPersonId,
                    r.read_person_name AS readPersonName,
                    r.read_time AS readTime,
                    p.product_id AS productId,
                    l.prod_name AS prodName,
                    u.sale_type AS saleType
                FROM
                activity_info t
                JOIN activity_read r ON t.id = r.data_id
                JOIN activity_read_ip ip ON r.read_token = ip.read_token
                JOIN t_content_product p ON p.content_id = t.id
                JOIN product_line l ON p.product_id = l.prod_id
                JOIN drug_user u ON u.id = r.drug_user_id
                WHERE
                1 = 1
                <if test="drugUserIds.size() > 0 and drugUserIds != null">
                    AND r.drug_user_id in
                    <foreach collection="drugUserIds" item="item" separator="," open="(" close=")">
                        #{item}
                    </foreach>
                </if>
                <if test="contentSharingRequest.shareType != 0 and contentSharingRequest.shareType != null">
                    AND r.share_type = #{contentSharingRequest.shareType}
                </if>
                AND (
                ip.isp IS NULL
                OR ip.isp != '阿里云'
                )
                <if test="productIds.size() > 0 and productIds != null">
                    AND l.prod_id in
                    <foreach collection="productIds" item="item" separator="," open="(" close=")">
                        #{item}
                    </foreach>
                </if>
                <if test="contentSharingRequest.startTimeBefore != '' and contentSharingRequest.startTimeBefore != null">
                    AND t.time &gt;= CONCAT(#{contentSharingRequest.startTimeBefore}, ' 00:00:00')
                </if>

                <if test="contentSharingRequest.startTimeAfter != '' and contentSharingRequest.startTimeAfter != null">
                    AND t.time &lt;= CONCAT(#{contentSharingRequest.startTimeAfter}, ' 23:59:59')
                </if>

                <if test="contentSharingRequest.title != '' and contentSharingRequest.title != null">
                    AND t.title LIKE "%"#{contentSharingRequest.title}"%"
                </if>
                AND r.read_person_id != ''
                AND l.show_place = 1
                GROUP BY
                drugUserId,
                id,
                sharetype

                UNION ALL

                SELECT
                    i.id,
                    i.title,
                    i.time,
                    wr.share_type AS shareType,
                    wr.content_id AS dataId,
                    dd.drug_user_id AS drugUserId,
                    dd.drug_user_name AS drugUserName,
                    wr.user_id AS readPersonId,
                    wr.user_name AS readPersonName,
                    wr.read_time AS readTime,
                    l.prod_id AS productId,
                    l.prod_name AS prodName,
                    u.sale_type AS saleType
                FROM
                wx_user_read wr
                JOIN wx_users xu ON wr.user_id = xu.id
                JOIN activity_info i ON wr.content_id = i.id
                JOIN drug_user_doctor dd ON xu.doctor_id = dd.doctor_id
                JOIN t_content_product p ON p.content_id = i.id
                JOIN product_line l ON p.product_id = l.prod_id
                JOIN drug_user u ON u.id = dd.drug_user_id
                WHERE
                1 = 1

                <if test="drugUserIds.size() > 0 and drugUserIds != null">
                    AND dd.drug_user_id in
                    <foreach collection="drugUserIds" item="item" separator="," open="(" close=")">
                        #{item}
                    </foreach>
                </if>
                <if test="contentSharingRequest.shareType != 0 and contentSharingRequest.shareType != null">
                    AND wr.share_type = #{contentSharingRequest.shareType}
                </if>

                <if test="productIds.size() > 0 and productIds != null">
                    AND l.prod_id in
                    <foreach collection="productIds" item="item" separator="," open="(" close=")">
                        #{item}
                    </foreach>
                </if>
                <if test="contentSharingRequest.startTimeBefore != '' and contentSharingRequest.startTimeBefore != null">
                    AND i.time &gt;= CONCAT(#{contentSharingRequest.startTimeBefore}, ' 00:00:00')
                </if>

                <if test="contentSharingRequest.startTimeAfter != '' and contentSharingRequest.startTimeAfter != null">
                    AND i.time &lt;= CONCAT(#{contentSharingRequest.startTimeAfter}, ' 23:59:59')
                </if>

                <if test="contentSharingRequest.title != '' and contentSharingRequest.title != null">
                    AND i.title LIKE "%"#{contentSharingRequest.title}"%"
                </if>
                    AND l.show_place = 1

                GROUP BY
                drugUserId,
                id,
                sharetype
            ) m
            GROUP BY
            m.drugUserId,
            m.id,
            m.sharetype
        LIMIT #{contentSharingRequest.currentSize},#{contentSharingRequest.pageSize}
    </select>

    <!-- 内容分享列表总数 -->
    <select id="getContentSharingListCount" resultType="java.lang.Integer">
        SELECT
        COUNT(t.title)
        FROM
        (
        SELECT
        m.title
        FROM
        (
            SELECT
            t.id,
            t.title,
            t.time,
            r.share_type AS sharetype,
            r.data_id AS dataId,
            r.drug_user_id AS drugUserId,
            r.drug_user_name AS drugUserName,
            r.read_person_id AS readPersonId,
            r.read_person_name AS readPersonName,
            r.read_time AS readTime,
            p.product_id AS productId,
            l.prod_name AS prodName,
            u.sale_type AS saleType
            FROM
            activity_info t
            JOIN activity_read r ON t.id = r.data_id
            JOIN activity_read_ip ip ON r.read_token = ip.read_token
            JOIN t_content_product p ON p.content_id = t.id
            JOIN product_line l ON p.product_id = l.prod_id
            JOIN drug_user u ON u.id = r.drug_user_id
            WHERE
            1 = 1
            <if test="drugUserIds.size() > 0 and drugUserIds != null">
                AND r.drug_user_id in
                <foreach collection="drugUserIds" item="item" separator="," open="(" close=")">
                    #{item}
                </foreach>
            </if>
            AND r.data_id = t.id
            <if test="contentSharingRequest.shareType != 0 and contentSharingRequest.shareType != null">
                AND r.share_type = #{contentSharingRequest.shareType}
            </if>
            AND (
            ip.isp IS NULL
            OR ip.isp != '阿里云'
            )
            <if test="productIds.size() > 0 and productIds != null">
                AND l.prod_id in
                <foreach collection="productIds" item="item" separator="," open="(" close=")">
                    #{item}
                </foreach>
            </if>
            <if test="contentSharingRequest.startTimeBefore != '' and contentSharingRequest.startTimeBefore != null">
                AND t.time &gt;= CONCAT(#{contentSharingRequest.startTimeBefore}, ' 00:00:00')
            </if>

            <if test="contentSharingRequest.startTimeAfter != '' and contentSharingRequest.startTimeAfter != null">
                AND t.time &lt;= CONCAT(#{contentSharingRequest.startTimeAfter}, ' 23:59:59')
            </if>

            <if test="contentSharingRequest.title != '' and contentSharingRequest.title != null">
                AND t.title LIKE "%"#{contentSharingRequest.title}"%"
            </if>
            AND r.read_person_id != ''
            AND l.show_place = 1
            GROUP BY
            drugUserId,
            id,
            sharetype

            UNION ALL

            SELECT
            i.id,
            i.title,
            i.time,
            wr.share_type AS shareType,
            wr.content_id AS dataId,
            dd.drug_user_id AS drugUserId,
            dd.drug_user_name AS drugUserName,
            wr.user_id AS readPersonId,
            wr.user_name AS readPersonName,
            wr.read_time AS readTime,
            l.prod_id AS productId,
            l.prod_name AS prodName,
            u.sale_type AS saleType
            FROM
            wx_user_read wr
            JOIN wx_users xu ON wr.user_id = xu.id
            JOIN activity_info i ON wr.content_id = i.id
            JOIN drug_user_doctor dd ON xu.doctor_id = dd.doctor_id
            JOIN t_content_product p ON p.content_id = i.id
            JOIN product_line l ON p.product_id = l.prod_id
            JOIN drug_user u ON u.id = dd.drug_user_id
            WHERE
            1 = 1

            <if test="drugUserIds.size() > 0 and drugUserIds != null">
                AND dd.drug_user_id in
                <foreach collection="drugUserIds" item="item" separator="," open="(" close=")">
                    #{item}
                </foreach>
            </if>
            <if test="contentSharingRequest.shareType != 0 and contentSharingRequest.shareType != null">
                AND wr.share_type = #{contentSharingRequest.shareType}
            </if>

            <if test="productIds.size() > 0 and productIds != null">
                AND l.prod_id in
                <foreach collection="productIds" item="item" separator="," open="(" close=")">
                    #{item}
                </foreach>
            </if>
            <if test="contentSharingRequest.startTimeBefore != '' and contentSharingRequest.startTimeBefore != null">
                AND i.time &gt;= CONCAT(#{contentSharingRequest.startTimeBefore},' 00:00:00')
            </if>

            <if test="contentSharingRequest.startTimeAfter != '' and contentSharingRequest.startTimeAfter != null">
                AND i.time &lt;= CONCAT(#{contentSharingRequest.startTimeAfter}, ' 23:59:59')
            </if>

            <if test="contentSharingRequest.title != '' and contentSharingRequest.title != null">
                AND i.title LIKE "%"#{contentSharingRequest.title}"%"
            </if>
            AND l.show_place = 1

            GROUP BY
            drugUserId,
            id,
            sharetype

            ) m
            GROUP BY
            m.drugUserId,
            m.id,
            m.sharetype
        ) t
    </select>

    <!-- 内容阅读记录列表 -->
    <select id="getContentReadLogsListPage" resultType="com.nuoxin.virtual.rep.api.entity.v3_0.params.ContentReadLogsParams">
        SELECT
            m.id,
            m.title,
            m.time AS createTime,
            m.dataId,
            m.drugUserId,
            m.drugUserName,
            m.doctorId,
            m.doctorName,
            SUM(m.readTime) readTime,
            m.shareType,
            m.hospitalName,
            m.depart
        FROM
            (
                SELECT
			d.id,
            t.title,
            t.time,
            r.data_id AS dataId,
            r.drug_user_id AS drugUserId,
            r.drug_user_name AS drugUserName,
            r.read_person_id AS doctorId,
            r.read_person_name AS doctorName,
            r.read_time AS readTime,
            r.share_type AS shareType,
            d.hospital_name AS hospitalName,
            d.depart
                FROM
            activity_info t
            JOIN activity_read r ON t.id = r.data_id
            JOIN activity_read_ip ip ON r.read_token = ip.read_token
            JOIN t_content_product p ON p.content_id = t.id
            JOIN product_line l ON p.product_id = l.prod_id
            JOIN drug_user u ON u.id = r.drug_user_id
            JOIN doctor d ON r.read_person_id = d.id
                WHERE
                    1 = 1
                    AND r.data_id = t.id
                    AND (
                    ip.isp IS NULL
                    OR ip.isp != '阿里云'
                    )
                    AND r.read_person_id != ''
                    AND u.id = #{contentReadLogsRequest.drugUserId}
                    AND t.id = #{contentReadLogsRequest.dataId}
                    AND r.share_type = #{contentReadLogsRequest.shareType}
                    GROUP BY
                    r.read_person_id,
                    t.id
            UNION ALL
                SELECT
                    d.id,
                    i.title,
                    wr.create_time time,
                    wr.content_id AS dataId,
                    dd.drug_user_id AS drugUserId,
                    dd.drug_user_name AS drugUserName,
                    xu.doctor_id AS doctorId,
                    wr.user_name AS doctorName,
                    wr.read_time AS readTime,
                    wr.share_type AS shareType,
                    d.hospital_name AS hospitalName,
                    d.depart
                FROM
                wx_user_read wr
                LEFT JOIN wx_users xu ON wr.user_id = xu.id
                LEFT JOIN activity_info i ON wr.content_id = i.id
                LEFT JOIN drug_user_doctor dd ON xu.doctor_id = dd.doctor_id
                LEFT JOIN doctor d ON dd.doctor_id = d.id
                    WHERE
                    1 = 1
                    AND wr.content_id = #{contentReadLogsRequest.dataId}
                    AND dd.drug_user_id = #{contentReadLogsRequest.drugUserId}
                    AND wr.share_type = #{contentReadLogsRequest.shareType}
                ) m
                GROUP BY
                    m.doctorId
                LIMIT #{contentReadLogsRequest.currentSize},#{contentReadLogsRequest.pageSize}
    </select>

    <!-- 内容阅读记录列表Count -->
    <select id="getContentReadLogsListCount" resultType="java.lang.Integer">
        SELECT
            COUNT(t.doctorId)
        FROM
            (
		SELECT
			m.doctorId
        FROM
            (
            SELECT
            t.title,
            t.time,
            r.data_id AS dataId,
            r.drug_user_id AS drugUserId,
            r.drug_user_name AS drugUserName,
            r.read_person_id AS doctorId,
            r.read_person_name AS doctorName,
            r.read_time AS readTime,
            r.share_type AS shareType,
            d.hospital_name AS hospitalName,
            d.depart
                FROM
            activity_info t
            JOIN activity_read r ON t.id = r.data_id
            JOIN activity_read_ip ip ON r.read_token = ip.read_token
            JOIN t_content_product p ON p.content_id = t.id
            JOIN product_line l ON p.product_id = l.prod_id
            JOIN drug_user u ON u.id = r.drug_user_id
            JOIN doctor d ON r.read_person_id = d.id
                WHERE
                    1 = 1
                    AND r.data_id = t.id
                    AND (
                    ip.isp IS NULL
                    OR ip.isp != '阿里云'
                    )
                    AND r.read_person_id != ''
                    AND r.share_type = #{contentReadLogsRequest.shareType}
                    AND u.id = #{contentReadLogsRequest.drugUserId}
                    AND t.id = #{contentReadLogsRequest.dataId}
                    GROUP BY
                    r.read_person_id,
                    t.id
            UNION ALL
                SELECT
                    i.title,
                    wr.create_time time,
                    wr.content_id AS dataId,
                    dd.drug_user_id AS drugUserId,
                    dd.drug_user_name AS drugUserName,
                    wr.user_id AS doctorId,
                    wr.user_name AS doctorName,
                    wr.read_time AS readTime,
                    wr.share_type AS shareType,
                    d.hospital_name AS hospitalName,
                    d.depart
                FROM
                wx_user_read wr
                LEFT JOIN wx_users xu ON wr.user_id = xu.id
                LEFT JOIN activity_info i ON wr.content_id = i.id
                LEFT JOIN drug_user_doctor dd ON xu.doctor_id = dd.doctor_id
                LEFT JOIN doctor d ON dd.doctor_id = d.id
                    WHERE
                    1 = 1
                    AND wr.content_id = #{contentReadLogsRequest.dataId}
                    AND dd.drug_user_id = #{contentReadLogsRequest.drugUserId}
                    AND wr.share_type = #{contentReadLogsRequest.shareType}
                ) m
                GROUP BY
                m.doctorId
                ) t
    </select>

    <!-- 根据内容ID和医生ID查询阅读时间数组和阅读时长数组 -->
    <select id="getReadTimeAndReadDurationByDataIdAndDoctorId" resultType="com.nuoxin.virtual.rep.api.entity.v3_0.params.ContentReadLogsTimeParams">
        SELECT
            m.time AS createTime,
            m.readTime
        FROM
            (
                SELECT
                    t.time,
                    r.read_time AS readTime
                FROM
                    activity_info t
                JOIN activity_read r ON t.id = r.data_id
                JOIN activity_read_ip ip ON r.read_token = ip.read_token
                JOIN t_content_product p ON p.content_id = t.id
                JOIN product_line l ON p.product_id = l.prod_id
                JOIN drug_user u ON u.id = r.drug_user_id
                WHERE
                    1 = 1
                AND r.data_id = t.id
                AND (
                    ip.isp IS NULL
                    OR ip.isp != '阿里云'
                )
                AND r.read_person_id != ''
                AND u.id = #{drugUserId}
                AND r.read_person_id = #{doctorId}
                AND t.id = #{dataId}
                AND r.share_type = #{shareType}
                GROUP BY
                    r.read_person_id,
                    t.id,
                    t.time,
                    r.read_time
                UNION ALL
                    SELECT
                        wr.create_time time,
                        wr.read_time AS readTime
                    FROM
                        wx_user_read wr
                    LEFT JOIN wx_users xu ON wr.user_id = xu.id
                    LEFT JOIN activity_info i ON wr.content_id = i.id
                    LEFT JOIN drug_user_doctor dd ON xu.doctor_id = dd.doctor_id
                    WHERE
                        1 = 1
                    AND dd.drug_user_id = #{drugUserId}
                    AND wr.content_id = #{dataId}
                    AND xu.doctor_id = #{doctorId}
                    AND wr.share_type = #{shareType}
            ) m
    </select>

    <!-- 内容分享列表 -->
    <select id="getContentSharingList" resultType="java.util.Map">
        SELECT
        m.id,
        m.title,
        str_to_date(m.time, '%Y-%m-%d %H:%i:%s') `time`,
        m.shareType,
        m.drugUserId,
        m.drugUserName,
        m.readPersonId,
        m.m.readPersonName,
        SUM(m.readTime) totalDuration,
        m.productId,
        m.prodName,
        m.saleType
        FROM
        (
        SELECT
        t.id,
        t.title,
        t.time,
        r.share_type AS sharetype,
        r.data_id AS dataId,
        r.drug_user_id AS drugUserId,
        r.drug_user_name AS drugUserName,
        r.read_person_id AS readPersonId,
        r.read_person_name AS readPersonName,
        r.read_time AS readTime,
        p.product_id AS productId,
        l.prod_name AS prodName,
        u.sale_type AS saleType
        FROM
        activity_info t
        JOIN activity_read r ON t.id = r.data_id
        JOIN activity_read_ip ip ON r.read_token = ip.read_token
        JOIN t_content_product p ON p.content_id = t.id
        JOIN product_line l ON p.product_id = l.prod_id
        JOIN drug_user u ON u.id = r.drug_user_id
        WHERE
        1 = 1
        <if test="drugUserIds.size() > 0 and drugUserIds != null">
            AND r.drug_user_id in
            <foreach collection="drugUserIds" item="item" separator="," open="(" close=")">
                #{item}
            </foreach>
        </if>
        <if test="contentSharingRequest.shareType != 0 and contentSharingRequest.shareType != null">
            AND r.share_type = #{contentSharingRequest.shareType}
        </if>
        AND (
        ip.isp IS NULL
        OR ip.isp != '阿里云'
        )
        <if test="productIds.size() > 0 and productIds != null">
            AND l.prod_id in
            <foreach collection="productIds" item="item" separator="," open="(" close=")">
                #{item}
            </foreach>
        </if>
        <if test="contentSharingRequest.startTimeBefore != '' and contentSharingRequest.startTimeBefore != null">
            AND t.time &gt;= CONCAT(#{contentSharingRequest.startTimeBefore}, ' 00:00:00')
        </if>

        <if test="contentSharingRequest.startTimeAfter != '' and contentSharingRequest.startTimeAfter != null">
            AND t.time &lt;= CONCAT(#{contentSharingRequest.startTimeAfter}, ' 23:59:59')
        </if>

        <if test="contentSharingRequest.title != '' and contentSharingRequest.title != null">
            AND t.title LIKE "%"#{contentSharingRequest.title}"%"
        </if>
        AND r.read_person_id != ''
        AND l.show_place = 1
        GROUP BY
        drugUserId,
        id,
        sharetype
        UNION ALL

        SELECT
        i.id,
        i.title,
        i.time,
        wr.share_type AS shareType,
        wr.content_id AS dataId,
        dd.drug_user_id AS drugUserId,
        dd.drug_user_name AS drugUserName,
        wr.user_id AS readPersonId,
        wr.user_name AS readPersonName,
        wr.read_time AS readTime,
        l.prod_id AS productId,
        l.prod_name AS prodName,
        u.sale_type AS saleType
        FROM
        wx_user_read wr
        JOIN wx_users xu ON wr.user_id = xu.id
        JOIN activity_info i ON wr.content_id = i.id
        JOIN drug_user_doctor dd ON xu.doctor_id = dd.doctor_id
        JOIN t_content_product p ON p.content_id = i.id
        JOIN product_line l ON p.product_id = l.prod_id
        JOIN drug_user u ON u.id = dd.drug_user_id
        WHERE
        1 = 1

        <if test="drugUserIds.size() > 0 and drugUserIds != null">
            AND dd.drug_user_id in
            <foreach collection="drugUserIds" item="item" separator="," open="(" close=")">
                #{item}
            </foreach>
        </if>
        <if test="contentSharingRequest.shareType != 0 and contentSharingRequest.shareType != null">
            AND wr.share_type = #{contentSharingRequest.shareType}
        </if>

        <if test="productIds.size() > 0 and productIds != null">
            AND l.prod_id in
            <foreach collection="productIds" item="item" separator="," open="(" close=")">
                #{item}
            </foreach>
        </if>
        <if test="contentSharingRequest.startTimeBefore != '' and contentSharingRequest.startTimeBefore != null">
            AND i.time &gt;= CONCAT(#{contentSharingRequest.startTimeBefore},' 00:00:00')
        </if>

        <if test="contentSharingRequest.startTimeAfter != '' and contentSharingRequest.startTimeAfter != null">
            AND i.time &lt;= CONCAT(#{contentSharingRequest.startTimeAfter},' 23:59:59')
        </if>

        <if test="contentSharingRequest.title != '' and contentSharingRequest.title != null">
            AND i.title LIKE "%"#{contentSharingRequest.title}"%"
        </if>
        AND l.show_place = 1
        GROUP BY
        drugUserId,
        id,
        sharetype
        ) m
        GROUP BY
        m.drugUserId,
        m.id,
        m.sharetype
    </select>

    <!-- 内容分享列表导出 -->
    <select id="getContentSharingCSVList" resultType="com.nuoxin.virtual.rep.api.entity.v3_0.params.ContentSharingParams">
        SELECT
        m.id,
        m.title,
        str_to_date(m.time, '%Y-%m-%d %H:%i:%s') `time`,
        m.shareType,
        m.drugUserId,
        m.drugUserName,
        m.readPersonId,
        m.m.readPersonName,
        SUM(m.readTime) totalDuration,
        m.productId,
        m.prodName,
        m.saleType
        FROM
        (
        SELECT
        t.id,
        t.title,
        t.time,
        r.share_type AS sharetype,
        r.data_id AS dataId,
        r.drug_user_id AS drugUserId,
        r.drug_user_name AS drugUserName,
        r.read_person_id AS readPersonId,
        r.read_person_name AS readPersonName,
        r.read_time AS readTime,
        p.product_id AS productId,
        l.prod_name AS prodName,
        u.sale_type AS saleType
        FROM
        activity_info t
        JOIN activity_read r ON t.id = r.data_id
        JOIN activity_read_ip ip ON r.read_token = ip.read_token
        JOIN t_content_product p ON p.content_id = t.id
        JOIN product_line l ON p.product_id = l.prod_id
        JOIN drug_user u ON u.id = r.drug_user_id
        WHERE
        1 = 1
        <if test="drugUserIds.size() > 0 and drugUserIds != null">
            AND r.drug_user_id in
            <foreach collection="drugUserIds" item="item" separator="," open="(" close=")">
                #{item}
            </foreach>
        </if>

        <if test="drugUserIds.size() > 0 and drugUserIds != null">
            AND r.drug_user_id in
            <foreach collection="drugUserIds" item="item" separator="," open="(" close=")">
                #{item}
            </foreach>
        </if>

        <if test="shareType != 0 and shareType != null">
            AND r.share_type = #{shareType}
        </if>
        AND (
        ip.isp IS NULL
        OR ip.isp != '阿里云'
        )
        <if test="productIds.size() > 0 and productIds != null">
            AND l.prod_id in
            <foreach collection="productIds" item="item" separator="," open="(" close=")">
                #{item}
            </foreach>
        </if>
        <if test="startTimeBefore != '' and startTimeBefore != null">
            AND t.time &gt;= CONCAT(#{startTimeBefore}, ' 00:00:00')
        </if>

        <if test="startTimeAfter != '' and startTimeAfter != null">
            AND t.time &lt;= CONCAT(#{startTimeAfter}, ' 23:59:59')
        </if>

        <if test="title != '' and title != null">
            AND t.title LIKE "%"#{title}"%"
        </if>
        AND r.read_person_id != ''
        AND l.show_place = 1
        GROUP BY
        drugUserId,
        id,
        sharetype
        UNION ALL

        SELECT
        i.id,
        i.title,
        i.time,
        wr.share_type AS shareType,
        wr.content_id AS dataId,
        dd.drug_user_id AS drugUserId,
        dd.drug_user_name AS drugUserName,
        wr.user_id AS readPersonId,
        wr.user_name AS readPersonName,
        wr.read_time AS readTime,
        l.prod_id AS productId,
        l.prod_name AS prodName,
        u.sale_type AS saleType
        FROM
        wx_user_read wr
        JOIN wx_users xu ON wr.user_id = xu.id
        JOIN activity_info i ON wr.content_id = i.id
        JOIN drug_user_doctor dd ON xu.doctor_id = dd.doctor_id
        JOIN t_content_product p ON p.content_id = i.id
        JOIN product_line l ON p.product_id = l.prod_id
        JOIN drug_user u ON u.id = dd.drug_user_id
        WHERE
        1 = 1

        <if test="drugUserIds.size() > 0 and drugUserIds != null">
            AND dd.drug_user_id in
            <foreach collection="drugUserIds" item="item" separator="," open="(" close=")">
                #{item}
            </foreach>
        </if>
        <if test="shareType != 0 and shareType != null">
            AND wr.share_type = #{shareType}
        </if>

        <if test="productIds.size() > 0 and productIds != null">
            AND l.prod_id in
            <foreach collection="productIds" item="item" separator="," open="(" close=")">
                #{item}
            </foreach>
        </if>
        <if test="startTimeBefore != '' and startTimeBefore != null">
            AND i.time &gt;= CONCAT(#{startTimeBefore}, ' 00:00:00')
        </if>

        <if test="startTimeAfter != '' and startTimeAfter != null">
            AND i.time &lt;= CONCAT(#{startTimeAfter}, ' 23:59:59')
        </if>

        <if test="title != '' and title != null">
            AND i.title LIKE "%"#{title}"%"
        </if>
        AND l.show_place = 1
        GROUP BY
        drugUserId,
        id,
        sharetype
        ) m
        GROUP BY
        m.drugUserId,
        m.id,
        m.sharetype
    </select>

    <!-- 查询文章列表的代表类型 -->
    <select id="getContentSharingRoleNameByDrugUserId" resultType="com.nuoxin.virtual.rep.api.entity.v3_0.params.ContentSharingParams">
        SELECT
            t.id,
            t.`name` AS drugUserName,
            r.role_name AS roleName
        FROM
            drug_user t
        LEFT JOIN role_user u ON t.id = u.user_id
        JOIN role r ON r.id = u.role_id
        WHERE
            t.id = #{drugUserId}
    </select>

    <!-- 该代表的文章的医生阅读数 -->
    <select id="getReadCountByDrugUserAndTitle" resultType="java.lang.Integer">
        SELECT count(t.doctorId) FROM (
            SELECT
                m.title,
                m.time,
                m.dataId,
                m.drugUserId,
                m.drugUserName,
                m.doctorId,
                m.doctorName,
                m.readTime,
                m.shareType
            FROM
                (
                    SELECT
                        t.title,
                        t.time,
                        r.data_id AS dataId,
                        r.drug_user_id AS drugUserId,
                        r.drug_user_name AS drugUserName,
                        r.read_person_id AS doctorId,
                        r.read_person_name AS doctorName,
                        r.read_time AS readTime,
                        r.share_type AS shareType
                    FROM
                        activity_info t
                    JOIN activity_read r ON t.id = r.data_id
                    JOIN activity_read_ip ip ON r.read_token = ip.read_token
                    JOIN t_content_product p ON p.content_id = t.id
                    JOIN product_line l ON p.product_id = l.prod_id
                    JOIN drug_user u ON u.id = r.drug_user_id
                    WHERE
                        1 = 1
                    AND r.data_id = t.id
                    AND u.id = #{drugUserId}
                    AND (
                        ip.isp IS NULL
                        OR ip.isp != '阿里云'
                    )
                    AND r.read_person_id != ''
                    AND t.id = #{titleId}
                    AND r.share_type = #{shareType}
                    GROUP BY
                        r.read_person_id,
                        t.id
                    UNION ALL
                        SELECT
                            i.title,
                            wr.create_time time,
                            wr.content_id AS dataId,
                            dd.drug_user_id AS drugUserId,
                            dd.drug_user_name AS drugUserName,
                            wr.user_id AS doctorId,
                            wr.user_name AS doctorName,
                            wr.read_time AS readTime,
                            wr.share_type AS shareType
                        FROM
                            wx_user_read wr
                        LEFT JOIN wx_users xu ON wr.user_id = xu.id
                        LEFT JOIN activity_info i ON wr.content_id = i.id
                        LEFT JOIN drug_user_doctor dd ON xu.doctor_id = dd.doctor_id
                        WHERE
                          1=1 AND
                            wr.content_id = #{titleId}
                        AND dd.drug_user_id = #{drugUserId}
                        AND wr.share_type = #{shareType}
                ) m

            GROUP BY m.doctorId
            ) t
    </select>
</mapper>