<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.nuoxin.virtual.rep.api.mybatis.DrugUserDoctorMapper">

	<select id="screen" resultType="java.lang.Long">
		SELECT 
			doctor_id 
		FROM 
			drug_user_doctor 
		WHERE
		    1=1
		    <if test="productLineIds != null">
	            AND prod_id IN 
				<foreach collection="productLineIds" item="productLineId" open="(" close=")" separator=",">
                  #{productLineId}
  				</foreach> 
			</if>
			
			<if test="virtualDrugUserIds !=null">
			    AND drug_user_id IN  
				<foreach collection="virtualDrugUserIds" item="virtualDrugUserId" open="(" close=")" separator=",">
                    #{virtualDrugUserId}
  				</foreach> 
			</if>
	</select>
	
	<!-- 以下是 v2.5 用到 -->
	
	<select id="getDoctorIdsByVirtualDrugUserIds"  resultType="java.lang.Long">
		SELECT 
			DISTINCT doctor_id 
		FROM drug_user_doctor 
		WHERE is_available=1 AND drug_user_id IN
		<foreach collection="virtualDrugUserIds" item="virtualDrugUserId" open="(" close=")" separator=",">
   			#{virtualDrugUserId}
  		</foreach> 
	</select>
	
	<select id="search" resultType="java.lang.Long">
		SELECT 
			d.id AS doctorId 
		FROM doctor d 
		JOIN (
			SELECT id FROM doctor d JOIN (
				SELECT DISTINCT doctor_id 
				FROM drug_user_doctor 
				WHERE 
					is_available=1 
					AND drug_user_id IN  
					<foreach collection="virtualDrugUserIds" item="virtualDrugUserId" open="(" close=")" separator=",">
   						#{virtualDrugUserId}
  					</foreach>
			) temp 
			ON d.id=temp.doctor_id 
		) temp2
		ON d.id = temp2.id
		WHERE 
			d.name LIKE "%"#{search,jdbcType=VARCHAR}"%" 
			OR d.telephone=#{search,jdbcType=VARCHAR} 
			OR d.depart=#{search,jdbcType=VARCHAR}
	</select>
	
</mapper>