<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.nuoxin.virtual.rep.api.mybatis.DrugUserMapper">

    <resultMap id="doctorResponseBean"
               type="com.nuoxin.virtual.rep.api.web.controller.response.doctor.DoctorResponseBean">
        <result column="name" property="doctorName" jdbcType="VARCHAR"/>
        <!--<result column="email" property="" jdbcType=""/>-->
        <!--<result column="hospital_id" property="" jdbcType=""/>-->
        <result column="hospital_name" property="hospitalName" jdbcType="VARCHAR"/>
        <result column="provice" property="province" jdbcType="VARCHAR"/>
        <result column="city" property="city" jdbcType="VARCHAR"/>
        <result column="depart" property="department" jdbcType="VARCHAR"/>
        <result column="telephone" property="doctorMobile" jdbcType="VARCHAR"/>
        <!--<result column="positions" property="" jdbcType=""/>-->
        <!--<result column="create_time" property="" jdbcType=""/>-->
        <!--<result column="status" property="" jdbcType=""/>-->
        <result column="doctor_id" property="doctorId" jdbcType="BIGINT"/>
        <result column="hospital_level" property="hospitalLevel" jdbcType="VARCHAR"/>
        <result column="client_level" property="clientLevel" jdbcType="VARCHAR"/>
        <!--<result column="product_id" property="" jdbcType=""/>-->
        <result column="drug_user_name" property="drugUserName" jdbcType="VARCHAR"/>
    </resultMap>

    <select id="doctorPage" resultMap="doctorResponseBean"
            parameterType="com.nuoxin.virtual.rep.api.web.controller.request.QueryRequestBean">
        select
        d.id,d.name,d.email,d.hospital_id,d.hospital_name,d.provice,d.city,d.depart,d.telephone,d.positions,d.create_time,d.status,dv.doctor_id,dv.hospital_level,dv.client_level,dv.master_data_id,du.name
        drug_user_name,dud.prod_id product_id from drug_user_doctor dud join doctor d on d.id=dud.doctor_id join
        drug_user du on du.id=dud.drug_user_id join doctor_virtual dv on dv.doctor_id=dud.doctor_id where du.leader_path
        like #{leaderPath,jdbcType=VARCHAR}
        <if test="name!=null and name!=''">

            and d.name like #{name,jdbcType=VARCHAR}
        </if>
        <if test="drugUserName!=null and drugUserName!=''">

            and du.name like #{drugUserName,jdbcType=VARCHAR}
        </if>
        <if test="mobile!=null and mobile!=''">

            and d.telephone like #{mobile,jdbcType=VARCHAR}
        </if>
        <if test="department!=null and department!=''">

            and d.depart like #{department,jdbcType=VARCHAR}
        </if>
        <if test="doctorLevel!=null and doctorLevel!=''">

            and d.positions like #{doctorLevel,jdbcType=VARCHAR}
        </if>
        <if test="hospital!=null and hospital!=''">

            and d.hospital_name like #{hospital,jdbcType=VARCHAR}
        </if>
        LIMIT ${currentSize},${pageSize}
    </select>
    <select id="doctorPageCount" resultType="java.lang.Integer"
            parameterType="com.nuoxin.virtual.rep.api.web.controller.request.QueryRequestBean">
        select count(1) num from drug_user_doctor dud join doctor d on d.id=dud.doctor_id join
        drug_user du on du.id=dud.drug_user_id join doctor_virtual dv on dv.doctor_id=dud.doctor_id where du.leader_path
        like #{leaderPath,jdbcType=VARCHAR}
        <if test="name!=null and name!=''">

            and d.name like #{name,jdbcType=VARCHAR}
        </if>
        <if test="drugUserName!=null and drugUserName!=''">

            and du.name like #{drugUserName,jdbcType=VARCHAR}
        </if>
        <if test="mobile!=null and mobile!=''">

            and d.telephone like #{mobile,jdbcType=VARCHAR}
        </if>
        <if test="department!=null and department!=''">

            and d.depart like #{department,jdbcType=VARCHAR}
        </if>
        <if test="doctorLevel!=null and doctorLevel!=''">

            and d.positions like #{doctorLevel,jdbcType=VARCHAR}
        </if>
        <if test="hospital!=null and hospital!=''">

            and d.hospital_name like #{hospital,jdbcType=VARCHAR}
        </if>
    </select>
</mapper>