<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.nuoxin.virtual.rep.api.mybatis.DrugUserDoctorQuateResultMapper">


    <insert id="batchInsert">
        INSERT INTO drug_user_doctor_quate_result (quate_id, result_id)
        VALUES
        <foreach collection ="resultIdList" item="resultId" separator =",">
            (#{quateId}, #{resultId})
        </foreach>
    </insert>

</mapper>