<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.nuoxin.virtual.rep.api.mybatis.EmailMapper">

    <resultMap id="emaiResponseBean" type="com.nuoxin.virtual.rep.api.web.controller.response.EmailResponseBean">
        <id column="id" property="id" jdbcType="BIGINT"/>
        <result column="product_id" property="productId" jdbcType="BIGINT"/>
        <result column="content" property="content" jdbcType="VARCHAR"/>
        <result column="title" property="title" jdbcType="VARCHAR"/>
        <result column="dates" property="date" jdbcType="VARCHAR"/>
        <result column="drug_user_name" property="drugUserName" jdbcType="VARCHAR"/>
    </resultMap>

    <select id="historyPage" resultMap="emaiResponseBean"
            parameterType="com.nuoxin.virtual.rep.api.web.controller.request.EmailQueryRequestBean">
        select du.name drug_user_name,ei.id,ei.content,ei.title,ei.product_id,DATE_FORMAT(ei.create_time,'%y-%m-%d %H:%I:%S') dates from
        virtual_email_info ei join drug_user du on du.id=ei.drug_user_id where
        du.leader_path like #{leaderPath,jdbcType=VARCHAR}
        <if test="doctorId!=null and doctorId!=0">
              and ei.doctor_id=#{doctorId}
        </if>
        <if test="productId!=null and productId!=0">
            and ei.product_id=#{productId}
        </if>
        LIMIT ${currentSize},${pageSize}

    </select>

    <select id="historyPageCount" resultType="java.lang.Integer"
            parameterType="com.nuoxin.virtual.rep.api.web.controller.request.EmailQueryRequestBean">
        select count(1) num from
        virtual_email_info ei join drug_user du on du.id=ei.drug_user_id where
        du.leader_path like #{leaderPath,jdbcType=VARCHAR}
        <if test="doctorId!=null and doctorId!=0">
            and ei.doctor_id=#{doctorId}
        </if>
        <if test="productId!=null and productId!=0">
            and ei.product_id=#{productId}
        </if>
    </select>

    <select id="getTodayEmailNum"
            parameterType="com.nuoxin.virtual.rep.api.web.controller.request.WorkStationRequestBean"
            resultType="java.lang.Integer">

        select count(distinct vei.doctor_id)
        from virtual_email_info vei
        inner join doctor d
        on vei.doctor_id = d.id
        inner join drug_user_doctor dud
        on d.id = dud.doctor_id
        inner join drug_user du
        on dud.drug_user_id = du.id
        where 1=1
        <if test="productId !=null and productId !=0">
            and vei.product_id = #{productId}
        </if>

        and date_format(vei.create_time,'%Y-%m-%d')=date_format(NOW(),'%Y-%m-%d')
        <if test="productId !=null and productId !=0">
            and dud.prod_id = #{productId}
        </if>

        and du.leader_path like #{leaderPath}
    </select>


    <select id="getTodayEmailCount"
            parameterType="com.nuoxin.virtual.rep.api.web.controller.request.WorkStationRequestBean"
            resultType="java.lang.Integer">

        select count(distinct vei.id)
        from virtual_email_info vei
        inner join doctor d
        on vei.doctor_id = d.id
        inner join drug_user_doctor dud
        on d.id = dud.doctor_id
        inner join drug_user du
        on dud.drug_user_id = du.id
        where 1=1
        <if test="productId !=null and productId !=0">
            and vei.product_id = #{productId}
        </if>

        and date_format(vei.create_time,'%Y-%m-%d')=date_format(NOW(),'%Y-%m-%d')
        <if test="productId != null and productId !=0">
            and dud.prod_id = #{productId}
        </if>

        and du.leader_path like #{leaderPath}
    </select>
</mapper>