<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.nuoxin.virtual.rep.api.mybatis.MeetingRecordMapper">

    <!-- 会议记录查询列表 -->
    <select id="getMeetingRecordList" resultType="com.nuoxin.virtual.rep.api.entity.v3_0.params.MeetingRecordParams">
        SELECT
            t.id,
            t.product_id AS productId,
            t.product_name AS productName,
            t.title,
            str_to_date(t.start_time, '%Y-%m-%d %H:%i:%s') AS startTime,
            str_to_date(t.end_time, '%Y-%m-%d %H:%i:%s') AS endTime
        FROM
            t_meeting_data t
        WHERE
            1 = 1
        AND t.product_id != ''

        <if test="meetingRecordRequest.productId != 0 and meetingRecordRequest.productId != null">
            AND t.product_id = #{meetingRecordRequest.productId}
        </if>

        <if test="meetingRecordRequest.startTimeBefore != '' and meetingRecordRequest.startTimeBefore != null">
            AND t.start_time &gt;= #{meetingRecordRequest.startTimeBefore}
        </if>

        <if test="meetingRecordRequest.startTimeAfter != '' and meetingRecordRequest.startTimeAfter != null">
            AND t.start_time &lt;= #{meetingRecordRequest.startTimeAfter}
        </if>

        <if test="meetingRecordRequest.title != '' and meetingRecordRequest.title != null">
            AND t.title LIKE "%"#{meetingRecordRequest.title}"%"
        </if>

        GROUP BY
            t.id
        LIMIT #{meetingRecordRequest.currentSize},#{meetingRecordRequest.pageSize}
    </select>

    <!-- 会议记录查询列表总数 -->
    <select id="getMeetingRecordListCount" resultType="java.lang.Integer">
        SELECT
            COUNT(1)
        FROM
            t_meeting_data t
        WHERE
            1 = 1
        AND t.product_id != ''
        <if test="meetingRecordRequest.productId != 0 and meetingRecordRequest.productId != null">
            AND t.product_id = #{meetingRecordRequest.productId}
        </if>

        <if test="meetingRecordRequest.startTimeBefore != '' and meetingRecordRequest.startTimeBefore != null">
            AND t.start_time &gt;= #{meetingRecordRequest.startTimeBefore}
        </if>

        <if test="meetingRecordRequest.startTimeAfter != '' and meetingRecordRequest.startTimeAfter != null">
            AND t.start_time &lt;= #{meetingRecordRequest.startTimeAfter}
        </if>

        <if test="meetingRecordRequest.title != '' and meetingRecordRequest.title != null">
            AND t.title LIKE "%"#{meetingRecordRequest.title}"%"
        </if>

    </select>

    <!-- 获取产品下的所有招募医生 -->
    <select id="getRecruitHcpAllCountByProduct" resultType="java.lang.Integer">
        SELECT
            count(t.doctor_id)
        FROM
            (
                SELECT
                    t.doctor_id
                FROM
                    product_doctor_quate t
                WHERE
                    t.product_id = #{productId}
                AND t.is_recruit = 1
                AND t.is_available = 1
                GROUP BY
                    t.doctor_id
            ) t
    </select>

    <!-- 查询每个会议的主题列表 -->
    <select id="getMeetingSubjectListByProductIdAndMeetingName" resultType="com.nuoxin.virtual.rep.api.entity.v3_0.params.MeetingSubjectParams">
        SELECT
            t.id,
            t.product_id AS productId,
            t.meeting_name AS meetingName,
            t.subject_name AS subjectName,
            t.speaker,
            str_to_date(t.start_time, '%Y-%m-%d %H:%i:%s') AS startTime,
            str_to_date(t.end_time, '%Y-%m-%d %H:%i:%s') AS endTime
        FROM
            t_meeting_subject t
        WHERE
            t.meeting_name = #{meetingName}
    </select>

    <!-- 根据会议ID查询会议详情 -->
    <select id="getMeetingInfoByMeetingId" resultType="com.nuoxin.virtual.rep.api.entity.v3_0.params.MeetingRecordParams">
        SELECT
            t.id,
            t.product_id AS productId,
            t.product_name AS productName,
            t.title,
            str_to_date(t.start_time, '%Y-%m-%d %H:%i:%s') AS startTime,
            str_to_date(t.end_time, '%Y-%m-%d %H:%i:%s') AS endTime
        FROM
            t_meeting_data t
        WHERE
            1 = 1
        AND id = #{meetingId}
    </select>

    <!-- 参会列表 -->
    <select id="getMeetingAttendDetailsListByMeetingId" resultType="com.nuoxin.virtual.rep.api.entity.v3_0.params.MeetingAttendDetailsParams">
        SELECT
            t.id,
            t.doctor_id AS doctorId,
            t.doctor_name AS doctorName,
            d.hospital_id AS hospitalId,
            d.hospital_name AS hospitalName,
            d.depart,
            str_to_date(t.attend_start_time, '%Y-%m-%d %H:%i:%s') AS attendStartTime,
            str_to_date(t.attend_end_time, '%Y-%m-%d %H:%i:%s') AS attendEndTime,
            t.attend_sum_time AS attendSumTime,
            t.meeting_id AS meetingId,
            t.type
        FROM
            t_meeting_attend_details t
        LEFT JOIN doctor d ON t.doctor_id = d.id
        WHERE
            1 = 1
        AND t.doctor_id != ''
        AND t.meeting_id = #{meetingAttendDetailsRequest.meetingId}
        AND t.type = 1
        GROUP BY t.doctor_id
        LIMIT #{meetingAttendDetailsRequest.currentSize},#{meetingAttendDetailsRequest.pageSize}
    </select>

    <!-- 参会总数 -->
    <select id="getMeetingAttendDetailsCountByMeetingId" resultType="java.lang.Integer">
SELECT
	COUNT(m.doctor_id)
FROM
	(
		SELECT
			t.doctor_id
		FROM
			t_meeting_attend_details t
		LEFT JOIN doctor d ON t.doctor_id = d.id
		WHERE
			1 = 1
		AND t.doctor_id != ''
		AND t.meeting_id = #{meetingId}
		AND t.type = 1
		GROUP BY
			t.doctor_id
	) m
    </select>

    <!-- 根据医生ID和会议ID查询该医生的所有参会时间 -->
    <select id="getMeetingTimeByDoctorIdAndMeetingID" resultType="com.nuoxin.virtual.rep.api.entity.v3_0.params.MeetingAttendDetailsParams">
        SELECT
            t.doctor_id AS doctorId,
            str_to_date(t.attend_start_time, '%Y-%m-%d %H:%i:%s') AS attendStartTime,
            str_to_date(t.attend_end_time, '%Y-%m-%d %H:%i:%s') AS attendEndTime,
            t.attend_sum_time AS attendSumTime,
            t.meeting_id AS meetingId,
            t.type
        FROM
            t_meeting_attend_details t
        LEFT JOIN doctor d ON t.doctor_id = d.id
        WHERE
            1 = 1
        AND t.doctor_id != ''
        AND t.doctor_id = #{doctorId}
        AND t.meeting_id = #{meetingId}
        AND t.type = 1
    </select>

    <!-- 导入Excel -->
    <insert id="saveExcel">
        INSERT INTO t_meeting_subject (
            meeting_name,
            subject_name,
            speaker,
            start_time,
            end_time
        )
        VALUES
        <foreach collection="list" item="list" separator=",">
            (#{list.meetingName}, #{list.subjectName},#{list.speaker},#{list.startTime},#{list.endTime})
        </foreach>
    </insert>

    <!--参会导入Excel -->
    <insert id="saveMeetingParticipantsExcel">
        INSERT INTO t_meeting_attend_details (
        meeting_id,
        doctor_id,
        doctor_name,
        doctor_tel,
        attend_sum_time,
        attend_start_time,
        `type`,
        attend_end_time
        )
        VALUES
        <foreach collection="list" item="list" separator=",">
            (#{list.meetingId}, #{list.doctorId},#{list.doctorName},#{list.doctorTel},#{list.attendSumTime},#{list.attendStartTime},#{list.type},#{list.attendEndTime})
        </foreach>
    </insert>

    <!--根据meetingId获取会议项目ID -->
    <select id="getMeetingItemIdByMeetingId" resultType="com.nuoxin.virtual.rep.api.entity.v3_0.params.MeetingParticipantsParams">
        SELECT
            t.item_id AS itemId
        FROM
            t_meeting_data t
        WHERE
            t.id = #{meetingId}
    </select>

    <!--根据医生手机号获取医生信息 -->
    <select id="getDoctorInfoByDoctorTel" resultType="com.nuoxin.virtual.rep.api.entity.v3_0.params.MeetingParticipantsParams">
        SELECT
            d.id AS doctorId,
            d.`name`
        FROM
            doctor d
        LEFT JOIN doctor_telephone p ON d.telephone = p.telephone
        WHERE
            p.telephone = #{doctorTel};
    </select>

    <!-- 根据会议标题查询主题数 -->
    <select id="getSubjectCountByMeetingTitle" resultType="java.lang.Integer">
        SELECT
            count(s.id)
        FROM
            t_meeting_subject s
        WHERE
            s.meeting_name = #{title}
    </select>

    <!-- 会议编辑，根据会议名称更新会议的产品ID -->
    <update id="updateMeetingSubjectProductIdByMeetingName">
        UPDATE t_meeting_data SET product_id = #{productId}, product_name = #{productName} WHERE title = #{meetingName} and  id = #{id}
    </update>

    <!-- 根据会议id查询参会人员总数及人员idList -->
    <select id="getMeetingAttendDetailsParamsListByMeetingId" resultType="com.nuoxin.virtual.rep.api.entity.v3_0.params.MeetingAttendDetailsParams">
        SELECT DISTINCT t.doctor_id doctorId FROM t_meeting_attend_details t WHERE t.meeting_id = #{meetingId} AND t.doctor_id != ''
    </select>

    <!-- 根据产品Id筛选医生IDlist -->
    <select id="getDoctorIdsCountByProductId" resultType="java.lang.Integer">
        SELECT count(1) FROM product_doctor_quate q WHERE 1=1 AND q.product_id = #{productId} AND q.doctor_id in
          <foreach collection="list" item="list" separator="," open="(" close=")">
              #{list.doctorId}
          </foreach>
    </select>
</mapper>