<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.nuoxin.virtual.rep.api.mybatis.MeetingDetailMapper">

    <select id="getMeetingStatistic" resultType="com.nuoxin.virtual.rep.api.web.controller.response.work.TodayStatisticsResponseBean"
            parameterType="com.nuoxin.virtual.rep.api.web.controller.request.WorkStationRequestBean">
        select
        count(tmad.doctor_id) as meetingCount,
        ifnull(sum(tmad.attend_sum_time),0) as meetingTotalTime,
        count(distinct tmad.doctor_id) as meetingTotalPerson,
        ROUND(ifnull(sum(tmad.attend_sum_time),0)/if(count(distinct tmad.doctor_id)=0,1,count(distinct tmad.doctor_id)),1) as meetingAvgTime
        from
        t_meeting_attend_details tmad
        inner join t_meeting_data tma
        on tmad.meeting_id=tma.id
        inner join doctor d
        on tmad.doctor_id = d.id
        inner join drug_user_doctor dud
        on d.id = dud.doctor_id
        inner join drug_user du
        on dud.drug_user_id = du.id
        where 1=1
        <if test="productId !=null and productId !=0">
            and tma.product_id = #{productId}
        </if>

        and date_format(tmad.attend_start_time,'%Y-%m-%d')=date_format(now(),'%Y-%m-%d')
        and du.leader_path like #{leaderPath}
        <if test="productId !=null and productId !=0">
            and dud.prod_id = #{productId}
        </if>

    </select>


</mapper>