<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.nuoxin.virtual.rep.api.mybatis.MessageMapper">

    <select id="getMessageStatistics"
            parameterType="com.nuoxin.virtual.rep.api.web.controller.request.WorkStationRequestBean"
            resultType="com.nuoxin.virtual.rep.api.web.controller.response.work.TodayStatisticsResponseBean">
        select (
        select count(distinct vm.doctor_id) from virtual_message vm
        inner join doctor d
        on vm.doctor_id=d.id
        inner join drug_user_doctor dud
        on d.id=dud.doctor_id
        inner join drug_user du
        on dud.drug_user_id=du.id
        where vm.message_type=1
        and vm.user_type=2
        and du.leader_path like #{leaderPath}
        and date_format(vm.message_time,'%Y-%m-%d')=date_format(NOW(),'%Y-%m-%d')
        ) as wechatSum,
        (
        select count(distinct vm.id) from virtual_message vm
        inner join doctor d
        on vm.doctor_id=d.id
        inner join drug_user_doctor dud
        on d.id=dud.doctor_id
        inner join drug_user du
        on dud.drug_user_id=du.id
        where vm.message_type=1
        and vm.user_type=2
        and du.leader_path like #{leaderPath}
        and date_format(vm.message_time,'%Y-%m-%d')=date_format(NOW(),'%Y-%m-%d')

        ) as wechatCount,
        (
        select count(distinct vm.doctor_id) from virtual_message vm
        inner join doctor d
        on vm.doctor_id=d.id
        inner join drug_user_doctor dud
        on d.id=dud.doctor_id
        inner join drug_user du
        on dud.drug_user_id=du.id
        where vm.message_type=2
        and vm.user_type=2
        <if test="productId !=null and productId !=0">
            and dud.prod_id=#{productId}
            and vm.product_id=#{productId}
        </if>

        and du.leader_path like #{leaderPath}
        and date_format(vm.message_time,'%Y-%m-%d')=date_format(NOW(),'%Y-%m-%d')

        ) as imSum,
        (
        select count(distinct vm.id) from virtual_message vm
        inner join doctor d
        on vm.doctor_id=d.id
        inner join drug_user_doctor dud
        on d.id=dud.doctor_id
        inner join drug_user du
        on dud.drug_user_id=du.id
        where vm.message_type=2
        and vm.user_type=2
        <if test="productId !=null and productId !=0">
            and dud.prod_id=#{productId}
            and vm.product_id=#{productId}
        </if>

        and du.leader_path like #{leaderPath}
        and date_format(vm.message_time,'%Y-%m-%d')=date_format(NOW(),'%Y-%m-%d')
        ) as imCount





    </select>


    <select id="getMessageLinkmanList"
            parameterType="com.nuoxin.virtual.rep.api.web.controller.request.message.MessageRequestBean"
            resultType="com.nuoxin.virtual.rep.api.web.controller.response.message.MessageLinkmanResponseBean">



        <!-- 2018-09-19 重构
        select
        a.doctor_id doctorId,
        a.doctorName nickname,
        a.maxMessageTime lastTime,
        a.type messageType,
        a.product_id productId
        from (
        select t.doctor_id,max(message_time) as maxMessageTime,t.type,t.doctorName,t.product_id from (
        select vm.doctor_id,vm.message,max(vm.message_time) message_time, 1 type, d.name doctorName, vm.product_id from virtual_message vm
        inner join doctor d
        on vm.doctor_id =d.id
        inner join drug_user_doctor dud
        on d.id=dud.doctor_id
        inner join drug_user du
        on dud.drug_user_id=du.id
        where du.leader_path like #{leaderPath}
        and vm.message_type=1

        <if test="startTime !=null and startTime !=''">
            and date_format(vm.message_time,'%Y-%m-%d %H:%i:%s') &gt;=#{startTime}
        </if>

        <if test="endTime !=null and endTime !=''">
            and date_format(vm.message_time,'%Y-%m-%d %H:%i:%s') &lt;=#{endTime}
        </if>


        group by vm.doctor_id
        union
        select vm.doctor_id,vm.message,max(vm.message_time) message_time, 2 type, d.name doctorName, vm.product_id from virtual_message vm
        inner join doctor d
        on vm.doctor_id =d.id
        inner join drug_user_doctor dud
        on d.id=dud.doctor_id
        inner join drug_user du
        on dud.drug_user_id=du.id
        inner join product_line pl
        on dud.prod_id=pl.prod_id
        where 1=1
        <if test="productId !=null and productId !=0">
            and dud.prod_id=#{productId}
            and vm.product_id=#{productId}
        </if>
        and du.leader_path like #{leaderPath}
        and vm.message_type=2
        <if test="startTime !=null and startTime !=''">
            and date_format(vm.message_time,'%Y-%m-%d %H:%i:%s') &gt;=#{startTime}
        </if>

        <if test="endTime !=null and endTime !=''">
            and date_format(vm.message_time,'%Y-%m-%d %H:%i:%s') &lt;=#{endTime}
        </if>

        group by vm.product_id,vm.doctor_id
        union
        select vei.doctor_id,vei.content message,max(vei.create_time) message_time, 3 type, d.name doctorName,vei.product_id
        from virtual_email_info vei
        inner join doctor d
        on vei.doctor_id=d.id
        inner join drug_user_doctor dud
        on d.id=dud.doctor_id
        inner join drug_user du
        on dud.drug_user_id=du.id
        inner join product_line pl
        on
        vei.product_id=pl.prod_id
        where 1=1
        <if test="productId != null and productId !=0">
            and vei.product_id=#{productId}
            and dud.prod_id=#{productId}
        </if>

        <if test="startTime !=null and startTime !=''">
            and date_format(vei.create_time,'%Y-%m-%d %H:%i:%s') &gt;=#{startTime}
        </if>

        <if test="endTime !=null and endTime !=''">
            and date_format(vei.create_time,'%Y-%m-%d %H:%i:%s') &lt;=#{endTime}
        </if>

        and du.leader_path like #{leaderPath}
        group by vei.product_id,vei.doctor_id
        ) t group by t.type,t.product_id,t.doctor_id
        ) a
        where 1=1

        <if test="messageType !=null and messageType !=0">
            and a.type=#{messageType}
        </if>
        <if test="nickname !=null and nickname !=''">
            and a.doctorName like concat('%',#{nickname},'%')
        </if>


        order by a.maxMessageTime desc limit #{currentSize},#{pageSize}
            -->


        <!-- 2018-09-19 重构后 -->
        SELECT DISTINCT
        content_dud.doctorId,
        content_dud.doctorName nickname,
        vm.message_type messageType,
        (
        SELECT
        MAX(
        DATE_FORMAT(
        message_time,
        '%Y-%m-%d %H:%i:%s'
        )
        )
        FROM
        virtual_message
        WHERE
        doctor_id = content_dud.doctorId
        AND message_type = 1

        <if test="startTime !=null and startTime !=''">
            and date_format(message_time,'%Y-%m-%d %H:%i:%s') &gt;=date_format(#{startTime},'%Y-%m-%d %H:%i:%s')
        </if>

        <if test="endTime !=null and endTime !=''">
            and date_format(message_time,'%Y-%m-%d %H:%i:%s') &lt;=date_format(#{endTime},'%Y-%m-%d %H:%i:%s')
        </if>


        ) lastTime,
        (
        SELECT
        message
        FROM
        virtual_message
        WHERE
        doctor_id = content_dud.doctorId
        AND message_type = 1
        <if test="startTime !=null and startTime !=''">
            and date_format(message_time,'%Y-%m-%d %H:%i:%s') &gt;=date_format(#{startTime},'%Y-%m-%d %H:%i:%s')
        </if>

        <if test="endTime !=null and endTime !=''">
            and date_format(message_time,'%Y-%m-%d %H:%i:%s') &lt;=date_format(#{endTime},'%Y-%m-%d %H:%i:%s')
        </if>

        ORDER BY
        message_time DESC
        LIMIT 1
        ) lastMessage
        FROM
        (
        SELECT DISTINCT
        d.id doctorId,
        d. NAME doctorName
        FROM
        doctor d
        INNER JOIN drug_user_doctor dud ON d.id = dud.doctor_id
        INNER JOIN drug_user du ON dud.drug_user_id = du.id
        WHERE
        du.leader_path LIKE #{leaderPath}
        <if test="nickname !=null and nickname !=''">
            and d.`name` like concat('%',#{nickname},'%')
        </if>

        ) content_dud
        INNER JOIN virtual_message vm ON content_dud.doctorId = vm.doctor_id
        AND vm.message_type=1
        WHERE 1=1
        <if test="startTime !=null and startTime !=''">
            and date_format(vm.message_time,'%Y-%m-%d %H:%i:%s') &gt;=date_format(#{startTime},'%Y-%m-%d %H:%i:%s')
        </if>

        <if test="endTime !=null and endTime !=''">
            and date_format(vm.message_time,'%Y-%m-%d %H:%i:%s') &lt;=date_format(#{endTime},'%Y-%m-%d %H:%i:%s')
        </if>

        <!-- 排序比较慢，暂时不加了
        ORDER BY vm.message_time DESC
        -->
        LIMIT #{currentSize},#{pageSize}

    </select>

    <select id="getMessageLinkmanListCount"
            parameterType="com.nuoxin.virtual.rep.api.web.controller.request.message.MessageRequestBean"
            resultType="java.lang.Integer">

        <!-- 2018-09-19 重构前
        select count(1)
        from (
        select t.doctor_id,max(message_time) as maxMessageTime,t.type,t.doctorName,t.product_id from (
        select vm.doctor_id,vm.message,max(vm.message_time) message_time, 1 type, d.name doctorName, vm.product_id from virtual_message vm
        inner join doctor d
        on vm.doctor_id =d.id
        inner join drug_user_doctor dud
        on d.id=dud.doctor_id
        inner join drug_user du
        on dud.drug_user_id=du.id
        where du.leader_path like #{leaderPath}
        and vm.message_type=1
        <if test="startTime !=null and startTime !=''">
            and date_format(vm.message_time,'%Y-%m-%d %H:%i:%s') &gt;=#{startTime}
        </if>

        <if test="endTime !=null and endTime !=''">
            and date_format(vm.message_time,'%Y-%m-%d %H:%i:%s') &lt;=#{endTime}
        </if>

        group by vm.doctor_id
        union
        select vm.doctor_id,vm.message,max(vm.message_time) message_time, 2 type, d.name doctorName, vm.product_id from virtual_message vm
        inner join doctor d
        on vm.doctor_id =d.id
        inner join drug_user_doctor dud
        on d.id=dud.doctor_id
        inner join drug_user du
        on dud.drug_user_id=du.id
        inner join product_line pl
        on dud.prod_id=pl.prod_id
        where 1=1
        <if test="productId !=null and productId !=0">
            and dud.prod_id=#{productId}
            and vm.product_id=#{productId}
        </if>
        and du.leader_path like #{leaderPath}
        and vm.message_type=2

        <if test="startTime !=null and startTime !=''">
            and date_format(vm.message_time,'%Y-%m-%d %H:%i:%s') &gt;=#{startTime}
        </if>

        <if test="endTime !=null and endTime !=''">
            and date_format(vm.message_time,'%Y-%m-%d %H:%i:%s') &lt;=#{endTime}
        </if>

        group by vm.product_id,vm.doctor_id
        union
        select vei.doctor_id,vei.content message,max(vei.create_time) message_time, 3 type, d.name doctorName,vei.product_id
        from virtual_email_info vei
        inner join doctor d
        on vei.doctor_id=d.id
        inner join drug_user_doctor dud
        on d.id=dud.doctor_id
        inner join drug_user du
        on dud.drug_user_id=du.id
        inner join product_line pl
        on vei.product_id=pl.prod_id
        where 1=1
        <if test="productId != null and productId !=0">
            and vei.product_id=#{productId}
            and dud.prod_id=#{productId}
        </if>

        <if test="startTime !=null and startTime !=''">
            and date_format(vei.create_time,'%Y-%m-%d %H:%i:%s') &gt;=#{startTime}
        </if>

        <if test="endTime !=null and endTime !=''">
            and date_format(vei.create_time,'%Y-%m-%d %H:%i:%s') &lt;=#{endTime}
        </if>
        and du.leader_path like #{leaderPath}
        group by vei.product_id,vei.doctor_id
        ) t group by t.type,t.product_id,t.doctor_id
        ) a
        where 1=1
        <if test="messageType !=null and messageType !=0">
            and a.type=#{messageType}
        </if>
        <if test="nickname !=null and nickname !=''">
            and a.doctorName like concat('%',#{nickname},'%')
        </if>
         -->


        <!-- 2018-09-19 重构后 -->
        SELECT count(DISTINCT content_dud.doctorId)

        FROM
        (
        SELECT DISTINCT
        d.id doctorId,
        d. NAME doctorName
        FROM
        doctor d
        INNER JOIN drug_user_doctor dud ON d.id = dud.doctor_id
        INNER JOIN drug_user du ON dud.drug_user_id = du.id
        WHERE
        du.leader_path LIKE #{leaderPath}
        <if test="nickname !=null and nickname !=''">
            and d.`name` like concat('%',#{nickname},'%')
        </if>

        ) content_dud
        INNER JOIN virtual_message vm ON content_dud.doctorId = vm.doctor_id
        AND vm.message_type=1
        WHERE 1=1
        <if test="startTime !=null and startTime !=''">
            and date_format(vm.message_time,'%Y-%m-%d %H:%i:%s') &gt;=date_format(#{startTime},'%Y-%m-%d %H:%i:%s')
        </if>

        <if test="endTime !=null and endTime !=''">
            and date_format(vm.message_time,'%Y-%m-%d %H:%i:%s') &lt;=date_format(#{endTime},'%Y-%m-%d %H:%i:%s')
        </if>


    </select>

    <select id="getLastMessage" resultType="java.lang.String">
      select vm.message from virtual_message vm
      where vm.message_type=#{type} and vm.doctor_id=#{doctorId} and vm.message_time=#{maxMessageTime} limit 1
    </select>


    <select id="getLastEmailMessage" resultType="java.lang.String">
        select vei.content from virtual_email_info vei
        where vei.doctor_id=#{doctorId} and vei.create_time=#{maxMessageTime} limit 1
    </select>

    <select id="getMessageList" parameterType="com.nuoxin.virtual.rep.api.web.controller.request.message.MessageRequestBean"
            resultType="com.nuoxin.virtual.rep.api.web.controller.response.message.MessageResponseBean">

      <!-- 2018-09-19 重构
        select
        distinct
        vm.id id,
        vm.user_id userId,
        vm.user_type userType,
        vm.nickname nickname,
        vm.wechat_number wechatNumber,
        vm.telephone telephone,
        vm.wechat_message_status wechatMessageStatus,
        vm.wechat_message_type wechatMessageType,
        vm.message message,
        vm.message_type messageType,
        vm.message_time messageTime
        from virtual_message vm
        inner join doctor d
        on vm.doctor_id=d.id
        inner join drug_user_doctor dud
        on d.id=dud.doctor_id
        inner join drug_user du
        on dud.drug_user_id=du.id
        where 1=1
        and du.leader_path like #{leaderPath}
        <if test="messageType !=null and messageType==1">
            and vm.message_type = #{messageType}
        </if>

        <if test="messageType !=null and messageType==2">
            and vm.message_type = #{messageType}
            <if test="productId !=null and productId !=0">
                and vm.product_id=#{productId}
                and dud.prod_id=#{productId}
            </if>

        </if>

        and vm.doctor_id=#{doctorId}
        <if test="startTime !=null and startTime !=''">
            and date_format(vm.message_time,'%Y-%m-%d %H:%i:%s') &gt;=date_format(#{startTime},'%Y-%m-%d %H:%i:%s')
        </if>

        <if test="endTime !=null and endTime !=''">
            and date_format(vm.message_time,'%Y-%m-%d %H:%i:%s') &lt;=date_format(#{endTime},'%Y-%m-%d %H:%i:%s')
        </if>
        and vm.drug_user_id in (select id from drug_user where leader_path like #{leaderPath})
        order by vm.message_time desc limit #{currentSize},#{pageSize}
        -->


        SELECT
        vm.id,
        vm.user_id userId,
        vm.user_type userType,
        vm.nickname,
        vm.wechat_number wechatNumer,
        vm.telephone,
        vm.wechat_message_status wechatMessageStatus,
        vm.wechat_message_type wechatMessageType,
        vm.message,
        vm.message_type messageType,
        vm.message_time messageTime
        FROM
        virtual_message vm
        WHERE
        vm.doctor_id = #{doctorId}
        AND vm.message_type = #{messageType}

        <if test="startTime !=null and startTime !=''">
            and date_format(vm.message_time,'%Y-%m-%d %H:%i:%s') &gt;=date_format(#{startTime},'%Y-%m-%d %H:%i:%s')
        </if>

        <if test="endTime !=null and endTime !=''">
            and date_format(vm.message_time,'%Y-%m-%d %H:%i:%s') &lt;=date_format(#{endTime},'%Y-%m-%d %H:%i:%s')
        </if>

        <!-- 不要按时间倒叙啦，不然对话是反的
        ORDER BY vm.message_time DESC
        -->
        LIMIT #{currentSize},#{pageSize}


    </select>


    <select id="getMessageListCount" parameterType="com.nuoxin.virtual.rep.api.web.controller.request.message.MessageRequestBean"
            resultType="java.lang.Integer">


        <!-- 2018-09-19 重构
        select
        count(distinct vm.id)
        from virtual_message vm
        inner join doctor d
        on vm.doctor_id=d.id
        inner join drug_user_doctor dud
        on d.id=dud.doctor_id
        inner join drug_user du
        on dud.drug_user_id=du.id
        where 1=1
        and du.leader_path like #{leaderPath}
        <if test="messageType !=null and messageType==1">
            and vm.message_type = #{messageType}
        </if>

        <if test="messageType !=null and messageType==2">
            and vm.message_type = #{messageType}
            <if test="productId !=null and productId !=0">
                and vm.product_id=#{productId}
                and dud.prod_id=#{productId}
            </if>
        </if>

        and vm.doctor_id=#{doctorId}


        <if test="startTime !=null and startTime !=''">
            and date_format(vm.message_time,'%Y-%m-%d %H:%i:%s') &gt;=#{startTime}
        </if>

        <if test="endTime !=null and endTime !=''">
            and date_format(vm.message_time,'%Y-%m-%d %H:%i:%s') &lt;=#{endTime}
        </if>
        and vm.drug_user_id in (select id from drug_user where leader_path like #{leaderPath})
        -->

        SELECT
        COUNT(*)
        FROM
        virtual_message vm
        WHERE
        vm.doctor_id = #{doctorId}
        AND vm.message_type =#{messageType}

        <if test="startTime !=null and startTime !=''">
            and date_format(vm.message_time,'%Y-%m-%d %H:%i:%s') &gt;=date_format(#{startTime},'%Y-%m-%d %H:%i:%s')
        </if>

        <if test="endTime !=null and endTime !=''">
            and date_format(vm.message_time,'%Y-%m-%d %H:%i:%s') &lt;=date_format(#{endTime},'%Y-%m-%d %H:%i:%s')
        </if>





    </select>


    <select id="getEmailMessageList"  resultType="com.nuoxin.virtual.rep.api.web.controller.response.message.MessageResponseBean"
            parameterType="com.nuoxin.virtual.rep.api.web.controller.request.message.MessageRequestBean">
        select distinct vei.id,
        vei.doctor_id doctorId,
        (select name from doctor d where d.id =vei.doctor_id) nickname,
        vei.title,
        vei.content message,
        3 messageType,
        vei.create_time messageTime
        from virtual_email_info vei
        inner join doctor d
        on vei.doctor_id=d.id
        inner join drug_user_doctor dud
        on d.id=dud.doctor_id
        inner join drug_user du
        on dud.drug_user_id=du.id
        where 1=1
        <if test="productId !=null and productId !=0">
            and vei.product_id=#{productId}
            and dud.prod_id=#{productId}
        </if>

        <if test="startTime !=null and startTime !=''">
            and date_format(vei.create_time,'%Y-%m-%d %H:%i:%s') &gt;= #{startTime}
        </if>

        <if test="endTime !=null and endTime !=''">
            and date_format(vei.create_time,'%Y-%m-%d %H:%i:%s') &lt;= #{endTime}
        </if>

        and du.leader_path like #{leaderPath}
        order by vei.create_time desc
        limit #{currentSize}, #{pageSize}

    </select>


    <select id="getEmailMessageListCount"  resultType="java.lang.Integer"
            parameterType="com.nuoxin.virtual.rep.api.web.controller.request.message.MessageRequestBean">
        select count(distinct vei.id)
        from virtual_email_info vei
        inner join doctor d
        on vei.doctor_id=d.id
        inner join drug_user_doctor dud
        on d.id=dud.doctor_id
        inner join drug_user du
        on dud.drug_user_id=du.id
        where 1=1
        <if test="productId !=null and productId !=0">
            and vei.product_id=#{productId}
            and dud.prod_id=#{productId}
        </if>

        <if test="startTime !=null and startTime !=''">
            and date_format(vei.create_time,'%Y-%m-%d %H:%i:%s') &gt;= #{startTime}
        </if>

        <if test="endTime !=null and endTime !=''">
            and date_format(vei.create_time,'%Y-%m-%d %H:%i:%s') &lt;= #{endTime}
        </if>

        and du.leader_path like #{leaderPath}


    </select>


    <select id="messageCount" parameterType="com.nuoxin.virtual.rep.api.web.controller.request.message.MessageRequestBean" resultType="java.lang.Integer">

        <!-- 2018-09-19 重构前
        select
        count(distinct vm.doctor_id)
        from virtual_message vm
        where 1=1
        <if test="messageType !=null and messageType==1">
            and vm.message_type = #{messageType}
        </if>

        <if test="messageType !=null and messageType==2">
            and vm.message_type = #{messageType}
            <if test="productId !=null and productId !=0">
                and vm.product_id=#{productId}
            </if>
        </if>
        and date_format(vm.message_time, '%Y-%m-%d')=date_format(NOW(),'%Y-%m-%d')
        and vm.doctor_id in (
                select d.id from doctor d
                inner join drug_user_doctor dud
                on d.id=dud.doctor_id
                inner join drug_user du
                on dud.drug_user_id=du.id
                where 1=1

                <if test="productId !=null and productId !=0">
                    and dud.prod_id=#{productId}
                </if>
                and du.leader_path like #{leaderPath}
            )
        and vm.drug_user_id in (select id from drug_user where leader_path like #{leaderPath})
        -->


        <!-- 2018-09-19 重构后 -->

        SELECT
        COUNT(DISTINCT vm.doctor_id)
        FROM
        (
        SELECT DISTINCT
        d.id doctorId,
        d. NAME doctorName
        FROM
        doctor d
        INNER JOIN drug_user_doctor dud ON d.id = dud.doctor_id
        INNER JOIN drug_user du ON dud.drug_user_id = du.id
        WHERE
        du.leader_path LIKE #{leaderPath}
        ) content_dud
        INNER JOIN virtual_message vm ON content_dud.doctorId = vm.doctor_id
        AND vm.message_type = 1
        WHERE
        DATE_FORMAT(vm.message_time, '%Y-%m-%d') = DATE_FORMAT(NOW(), '%Y-%m-%d')



    </select>

    <!-- 人数 -->
    <select id="emailMessageCount"  parameterType="com.nuoxin.virtual.rep.api.web.controller.request.message.MessageRequestBean" resultType="java.lang.Integer">
        select count(distinct vei.doctor_id)
        from virtual_email_info vei
        inner join doctor d
        on vei.doctor_id=d.id
        inner join drug_user_doctor dud
        on d.id=dud.doctor_id
        inner join drug_user du
        on dud.drug_user_id=du.id
        where 1=1
        <if test="productId !=null and productId !=0">
            and vei.product_id=#{productId}
            and dud.prod_id=#{productId}
        </if>

        and du.leader_path like #{leaderPath}
        and date_format(vei.create_time,'%Y-%m-%d')=date_format(NOW(),'%Y-%m-%d')
    </select>

    <select id="getWeiXinDoctorVisitCount"  resultType="com.nuoxin.virtual.rep.api.entity.v2_5.StatisticsDrugNumResponse">
        SELECT
        drug_user_id drugUserId,count(DISTINCT doctor_id) total
        FROM virtual_message
        WHERE message_type=1 and
        drug_user_id IN
        <foreach collection="drugUserIds" item="drugUserId" open="(" close=")" separator=",">
            #{drugUserId}
        </foreach>
        <if test="startTime!=null">
            and date_format(message_time,'%Y-%m-%d')&gt;=#{startTime}
        </if>
        <if test="endTime!=null">
            and date_format(message_time,'%Y-%m-%d')&lt;=#{endTime}
        </if>
        AND product_id=#{productId}
        GROUP BY drug_user_id
    </select>

    <select id="getWeiXinMessageCount"  resultType="com.nuoxin.virtual.rep.api.entity.v2_5.StatisticsDrugNumResponse">
        SELECT
        drug_user_id drugUserId,count(DISTINCT doctor_id) total
        FROM virtual_message
        WHERE message_type=1 and
        drug_user_id IN
        <foreach collection="statisticsParams.drugUserIds" item="drugUserId" open="(" close=")" separator=",">
            #{drugUserId}
        </foreach>
        <if test="statisticsParams.startTime!=null">
            and date_format(message_time,'%Y-%m-%d')&gt;=#{statisticsParams.startTime}
        </if>
        <if test="statisticsParams.endTime!=null">
            and date_format(message_time,'%Y-%m-%d')&lt;=#{statisticsParams.endTime}
        </if>
        AND product_id=#{statisticsParams.productId} and wechat_message_status=#{wechatMessageStatus}
        GROUP BY drug_user_id
    </select>



    <!-- 查询消息类型，判断是否重复 -->
    <select id="getCountByTypeAndWechatNumAndTime" resultType="java.lang.Integer">
        SELECT COUNT(*)
        FROM virtual_message
        WHERE message_type=#{messageType}
        AND wechat_number=#{wechatNumber}
        AND DATE_FORMAT(message_time,'%Y-%m-%d %H:%i:%s')=DATE_FORMAT(#{wechatTime},'%Y-%m-%d %H:%i:%s')
    </select>

</mapper>