<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.nuoxin.virtual.rep.api.mybatis.MessageMapper">

    <select id="getMessageStatistics"
            parameterType="com.nuoxin.virtual.rep.api.web.controller.request.WorkStationRequestBean"
            resultType="com.nuoxin.virtual.rep.api.web.controller.response.work.TodayStatisticsResponseBean">

                select (select count(distinct vm.doctor_id)
                from virtual_message vm
                where vm.message_type=1
                and vm.user_type=2
                and date_format(vm.message_time,'%Y-%m-%d')=date_format(NOW(),'%Y-%m-%d')
                and vm.drug_user_id in (select id from drug_user where leader_path like #{leaderPath})
                and vm.doctor_id in (select d.id from doctor d
                inner join drug_user_doctor dud
                on d.id=dud.doctor_id
                inner join drug_user du
                on dud.drug_user_id=du.id
                                where dud.prod_id=#{productId} and du.leader_path like #{leaderPath}
                        )
                ) as wechatSum,
                (
                select count(distinct vm.id)
                from virtual_message vm
                where vm.message_type=1
                and vm.user_type=2
                and date_format(vm.message_time,'%Y-%m-%d')=date_format(NOW(),'%Y-%m-%d')
                and vm.drug_user_id in (select id from drug_user where leader_path like #{leaderPath})
                and vm.doctor_id in (select d.id from doctor d
                                inner join drug_user_doctor dud
                                on d.id=dud.doctor_id
                                inner join drug_user du
                                on dud.drug_user_id=du.id
                                where dud.prod_id=#{productId} and du.leader_path like #{leaderPath}
                        )
                ) as wechatCount,
                (
                select count(distinct vm.doctor_id)
                from virtual_message vm
                where vm.message_type=2
                and vm.user_type=2
                and vm.product_id = #{productId}
                and date_format(vm.message_time,'%Y-%m-%d')=date_format(NOW(),'%Y-%m-%d')
                and vm.drug_user_id in (select id from drug_user where leader_path like #{leaderPath})
                and vm.doctor_id in (select d.id from doctor d
                inner join drug_user_doctor dud
                on d.id=dud.doctor_id
                inner join drug_user du
                on dud.drug_user_id=du.id
                where dud.prod_id=#{productId} and du.leader_path like #{leaderPath}
                        )

                ) as imSum,
                (
                select count(distinct vm.id)
                from virtual_message vm
                where vm.message_type=2
                and vm.user_type=2
                and vm.product_id = #{productId}
                and date_format(vm.message_time,'%Y-%m-%d')=date_format(NOW(),'%Y-%m-%d')
                and vm.drug_user_id in (select id from drug_user where leader_path like #{leaderPath})
                and vm.doctor_id in (select d.id from doctor d
                                inner join drug_user_doctor dud
                                on d.id=dud.doctor_id
                                inner join drug_user du
                                on dud.drug_user_id=du.id
                                where dud.prod_id=#{productId} and du.leader_path like #{leaderPath}
                        )
                ) as imCount





    </select>


    <select id="getMessageLinkmanList"
            parameterType="com.nuoxin.virtual.rep.api.web.controller.request.message.MessageRequestBean"
            resultType="com.nuoxin.virtual.rep.api.web.controller.response.message.MessageLinkmanResponseBean">
        <!--select
        t.doctor_id doctorId,
        t.nickname nickname,
        t.message_type messageType,
        t.maxMessageTime lastTime,
        (select message from virtual_message where doctor_id=t.doctor_id and message_type=t.message_type and message_time=t.maxMessageTime) lastMessage
        from (
        select
        vm.doctor_id,
        vm.nickname,
        vm.message_type,max(vm.message_time) as maxMessageTime
        from virtual_message vm
        where vm.drug_user_id in (select id from drug_user where leader_path like #{leaderPath})
        <if test="startTime !=null and endTime !=null">
            and date_format(vm.message_time,'%Y-%m-%d') between #{startTime} and #{endTime}
        </if>
        and vm.doctor_id in (
                select d.id from doctor d
                inner join drug_user_doctor dud
                on d.id=dud.doctor_id
                inner join drug_user du
                on dud.drug_user_id=du.id
                where dud.prod_id=#{productId} and du.leader_path like #{leaderPath}
            )
        group by  vm.doctor_id,vm.message_type  order by maxMessageTime desc
        ) t limit #{page},#{pageSize}-->


        select
        a.doctor_id doctorId,
        (select name from doctor where id = a.doctor_id) nickname
        a.maxMessageTime lastTime,
        a.type messageType
        from (
        select t.doctor_id,max(message_time) as maxMessageTime,t.type from (
        select vm.doctor_id,vm.message,vm.message_time, 1 type from virtual_message vm
        inner join doctor d
        on vm.doctor_id =d.id
        inner join drug_user_doctor dud
        on d.id=dud.doctor_id
        inner join drug_user du
        on dud.drug_user_id=du.id
        where du.leader_path like #{leaderPath}
        and vm.message_type=1
        union
        select vm.doctor_id,vm.message,vm.message_time, 2 type from virtual_message vm
        inner join doctor d
        on vm.doctor_id =d.id
        inner join drug_user_doctor dud
        on d.id=dud.doctor_id
        inner join drug_user du
        on dud.drug_user_id=du.id
        where 1=1
        <if test="productId !=null and productId !=0">
            and dud.prod_id=#{productId}
            and vm.productId=#{productId}
        </if>
        and du.leader_path like #{leaderPath}
        and vm.message_type=2
        union
        select vei.doctor_id,vei.content message,vei.create_time message_time, 3 type
        from virtual_email_info vei
        inner join doctor d
        on vei.doctor_id=d.id
        inner join drug_user_doctor dud
        on d.id=dud.doctor_id
        inner join drug_user du
        on dud.drug_user_id=du.id
        where 1=1
        <if test="productId != null and productId !=0">
            and vei.productId=#{productId}
            and dud.prod_id=#{productId}
        </if>
        and du.leader_path like #{leaderPath}
        ) t group by t.type,t.doctor_id
        ) a
        where 1=1
        <if test="startTime !=null and startTime !=''">
            and date_format(a.maxMessageTime,'%Y-%m-%d') &gt;=#{startTime}
        </if>

        <if test="endTime !=null and endTime !=''">
            and date_format(a.maxMessageTime,'%Y-%m-%d') &lt;=#{endTime}
        </if>
        <if test="messageType !=null and messageType !=0">
            and a.type=#{messageType}
        </if>
        order by a.maxMessageTime desc limit #{page},#{pageSize}



    </select>

    <select id="getMessageLinkmanListCount"
            parameterType="com.nuoxin.virtual.rep.api.web.controller.request.message.MessageRequestBean"
            resultType="java.lang.Integer">
        <!--select count(1) from (
        select
        vm.doctor_id
        from virtual_message vm
        where vm.drug_user_id in (select id from drug_user where leader_path like #{leaderPath})
        <if test="startTime !=null and endTime !=null">
            and date_format(vm.message_time,'%Y-%m-%d') between #{startTime} and #{endTime}
        </if>
        and vm.doctor_id in (
        select d.id from doctor d
        inner join drug_user_doctor dud
        on d.id=dud.doctor_id
        inner join drug_user du
        on dud.drug_user_id=du.id
        where dud.prod_id=#{productId} and du.leader_path like #{leaderPath}
        )

        group by  vm.doctor_id,vm.message_type
        ) t-->



        select count(1) from (
        select t.doctor_id,max(message_time) as maxMessageTime,t.type from (
        select vm.doctor_id,vm.message,vm.message_time, 1 type from virtual_message vm
        inner join doctor d
        on vm.doctor_id =d.id
        inner join drug_user_doctor dud
        on d.id=dud.doctor_id
        inner join drug_user du
        on dud.drug_user_id=du.id
        where du.leader_path like #{leaderPath}
        and vm.message_type=1
        union
        select vm.doctor_id,vm.message,vm.message_time, 2 type from virtual_message vm
        inner join doctor d
        on vm.doctor_id =d.id
        inner join drug_user_doctor dud
        on d.id=dud.doctor_id
        inner join drug_user du
        on dud.drug_user_id=du.id
        where 1=1
        <if test="productId !=null and productId !=0">
            and dud.prod_id=#{productId}
            and vm.productId=#{productId}
        </if>

        and du.leader_path like #{leaderPath}
        and vm.message_type=2
        union
        select vei.doctor_id,vei.content message,vei.create_time message_time, 3 type
        from virtual_email_info vei
        inner join doctor d
        on vei.doctor_id=d.id
        inner join drug_user_doctor dud
        on d.id=dud.doctor_id
        inner join drug_user du
        on dud.drug_user_id=du.id
        where 1=1
        <if test="productId != null and productId !=0">
            and vei.productId=#{productId}
            and dud.prod_id=#{productId}
        </if>

        and du.leader_path  like #{leaderPath}
        ) t group by t.type,t.doctor_id
        ) a where 1=1

        <if test="startTime !=null and startTime !=''">
            and date_format(a.maxMessageTime,'%Y-%m-%d') &gt;=#{startTime}
        </if>

        <if test="endTime !=null and endTime !=''">
            and date_format(a.maxMessageTime,'%Y-%m-%d') &lt;=#{endTime}
        </if>
        <if test="messageType !=null and messageType !=0">
            and a.type=#{messageType}
        </if>



    </select>

    <select id="getLastMessage" resultType="java.lang.String">
      select vm.message from virtual_message vm
      where vm.message_type=#{type} and vm.doctor_id=#{doctorId} and vm.message_time=#{maxMessageTime} limit 1
    </select>


    <select id="getLastEmailMessage" resultType="java.lang.String">
        select vei.content from virtual_email_info vei
        where vei.doctor_id=#{doctorId} and vei.create_time=#{maxMessageTime} limit 1
    </select>

    <select id="getMessageList" parameterType="com.nuoxin.virtual.rep.api.web.controller.request.message.MessageRequestBean"
            resultType="com.nuoxin.virtual.rep.api.web.controller.response.message.MessageResponseBean">

        select
        vm.id id,
        vm.user_id userId,
        vm.user_type userType,
        vm.nickname nickname,
        vm.wechat_number wechatNumber,
        vm.telephone telephone,
        vm.wechat_message_status wechatMessageStatus,
        vm.wechat_message_type wechatMessageType,
        vm.message message,
        vm.message_type messageType,
        vm.message_time messageTime
        from virtual_message vm
        where 1=1
        <if test="messageType !=null and messageType==1">
            and vm.message_type = #{messageType}
        </if>

        <if test="messageType !=null and messageType==2">
            and vm.message_type = #{messageType}
            <if test="productId !=null and productId !=0">
                and vm.product_id=#{productId}
            </if>

        </if>

        and vm.doctor_id=#{doctorId}
        <if test="startTime !=null and endTime !=null">
            and date_format(vm.message_time,'%Y-%m-%d') between #{startTime} and #{endTime}
        </if>
        and vm.drug_user_id in (select id from drug_user where leader_path like #{leaderPath})
        order by vm.message_time desc limit #{page},#{pageSize}


    </select>


    <select id="getMessageListCount" parameterType="com.nuoxin.virtual.rep.api.web.controller.request.message.MessageRequestBean"
            resultType="java.lang.Integer">

        select
        count(1)
        from virtual_message vm
        where 1=1
        <if test="messageType !=null and messageType==1">
            and vm.message_type = #{messageType}
        </if>

        <if test="messageType !=null and messageType==2">
            and vm.message_type = #{messageType}
            <if test="productId !=null and productId !=0">
                and vm.product_id=#{productId}
            </if>
        </if>

        and vm.doctor_id=#{doctorId}
        <if test="startTime !=null and endTime !=null">
            and date_format(vm.message_time,'%Y-%m-%d') between #{startTime} and #{endTime}
        </if>
        and vm.drug_user_id in (select id from drug_user where leader_path like #{leaderPath})


    </select>


    <select id="getEmailMessageList"  resultType="com.nuoxin.virtual.rep.api.web.controller.response.message.MessageResponseBean"
            parameterType="com.nuoxin.virtual.rep.api.web.controller.request.message.MessageRequestBean">
        select vei.id,
        vei.doctor_id doctorId,
        (select name from doctor d where d.id =vei.doctor_id) nickname,
        vei.title,
        vei.content message,
        3 messageType,
        vei.create_time messageTime
        from virtual_email_info vei
        inner join doctor d
        on vei.doctor_id=d.id
        inner join drug_user_doctor dud
        on d.id=dud.doctor_id
        inner join drug_user du
        on dud.drug_user_id=du.id
        where 1=1
        <if test="productId !=null and productId !=0">
            and vei.product_id=#{productId}
            and dud.prod_id=#{productId}
        </if>

        <if test="startTime !=null and startTime !=''">
            and date_format(vei.createTime,'%Y-%m-%d') &gt;= #{startTime}
        </if>

        <if test="endTime !=null and endTime !=''">
            and date_format(vei.createTime,'%Y-%m-%d') &lt;= #{endTime}
        </if>

        and du.leader_path like #{leaderPath}
        order by vei.create_time desc
        limit #{page}, #{pageSize}

    </select>


    <select id="getEmailMessageList"  resultType="java.lang.Integer"
            parameterType="com.nuoxin.virtual.rep.api.web.controller.request.message.MessageRequestBean">
        select count(distinct vei.id)
        from virtual_email_info vei
        inner join doctor d
        on vei.doctor_id=d.id
        inner join drug_user_doctor dud
        on d.id=dud.doctor_id
        inner join drug_user du
        on dud.drug_user_id=du.id
        where 1=1
        <if test="productId !=null and productId !=0">
            and vei.product_id=#{productId}
            and dud.prod_id=#{productId}
        </if>

        <if test="startTime !=null and startTime !=''">
            and date_format(vei.createTime,'%Y-%m-%d') &gt;= #{startTime}
        </if>

        <if test="endTime !=null and endTime !=''">
            and date_format(vei.createTime,'%Y-%m-%d') &lt;= #{endTime}
        </if>

        and du.leader_path like #{leaderPath}


    </select>


    <select id="messageCount" parameterType="com.nuoxin.virtual.rep.api.web.controller.request.message.MessageRequestBean" resultType="java.lang.Integer">
        select
        count(distinct vm.doctor_id)
        from virtual_message vm
        where 1=1
        <if test="messageType !=null and messageType==1">
            and vm.message_type = #{messageType}
        </if>

        <if test="messageType !=null and messageType==2">
            and vm.message_type = #{messageType}
            <if test="productId !=null and productId !=0">
                and vm.product_id=#{productId}
            </if>
        </if>
        and date_format(vm.message_time, '%Y-%m-%d')=date_format(NOW(),'%Y-%m-%d')
        and vm.doctor_id in (
                select d.id from doctor d
                inner join drug_user_doctor dud
                on d.id=dud.doctor_id
                inner join drug_user du
                on dud.drug_user_id=du.id
                where 1=1

                <if test="productId !=null and productId !=0">
                    dud.prod_id=#{productId}
                </if>
                and du.leader_path like #{leaderPath}
            )
        and vm.drug_user_id in (select id from drug_user where leader_path like #{leaderPath})


    </select>
</mapper>