<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.nuoxin.virtual.rep.api.mybatis.MonthlyRecruitMapper">

    <!-- 联系医院数量 -->
    <select id="getContactHospital" resultType="java.lang.Integer">
        SELECT
        COUNT( DISTINCT d.hospital_id )
        FROM
        virtual_doctor_call_info v
        INNER JOIN doctor d ON v.virtual_doctor_id = d.id
        WHERE
        v.product_id = #{productId}
        AND v.visit_channel=1

        <if test="startDate !=null">
            AND DATE_FORMAT( v.create_time, '%Y-%m' ) &gt;= #{startDate}
        </if>

        <if test="endDate !=null">
            AND DATE_FORMAT( v.create_time, '%Y-%m' ) &lt;  #{endDate}
        </if>

    </select>


    <!-- 联系医生数量 -->
    <select id="getContactDoctor" resultType="java.lang.Integer">
        SELECT
        COUNT( DISTINCT d.id )
        FROM
        virtual_doctor_call_info v
        INNER JOIN doctor d ON v.virtual_doctor_id = d.id
        WHERE
        v.product_id = #{productId}
        AND v.visit_channel=1
        <if test="startDate !=null">
            AND DATE_FORMAT( v.create_time, '%Y-%m' ) &gt;= #{startDate}
        </if>

        <if test="endDate !=null">
            AND DATE_FORMAT( v.create_time, '%Y-%m' ) &lt;  #{endDate}
        </if>
    </select>



    <!-- 接触医院数量 -->
    <select id="getTouchHospital" resultType="java.lang.Integer">
        SELECT
        COUNT( DISTINCT d.hospital_id )
        FROM
        virtual_doctor_call_info v
        INNER JOIN doctor d ON v.virtual_doctor_id = d.id
        WHERE
        v.product_id = #{productId}
        AND v.visit_channel=1
        AND v.status_name='answer'

        <if test="startDate !=null">
            AND DATE_FORMAT( v.create_time, '%Y-%m' ) &gt;= #{startDate}
        </if>

        <if test="endDate !=null">
            AND DATE_FORMAT( v.create_time, '%Y-%m' ) &lt;  #{endDate}
        </if>


    </select>


    <!-- 接触医生数量 -->
    <select id="getTouchDoctor" resultType="java.lang.Integer">
        SELECT
        COUNT( DISTINCT d.id )
        FROM
        virtual_doctor_call_info v
        INNER JOIN doctor d ON v.virtual_doctor_id = d.id
        WHERE
        v.product_id = #{productId}
        AND v.visit_channel=1
        AND v.status_name='answer'

        <if test="startDate !=null">
            AND DATE_FORMAT( v.create_time, '%Y-%m' ) &gt;= #{startDate}
        </if>

        <if test="endDate !=null">
            AND DATE_FORMAT( v.create_time, '%Y-%m' ) &lt;  #{endDate}
        </if>
    </select>




    <!-- 招募医院数量 -->
    <select id="getRecruitHospital" resultType="java.lang.Integer">
        SELECT IFNULL(COUNT(*), 0) FROM (
            SELECT
            d.hospital_id
            FROM
            virtual_doctor_call_info v
            INNER JOIN doctor d ON v.virtual_doctor_id = d.id
            INNER JOIN virtual_doctor_call_info_mend m
            ON v.id=m.call_id
            WHERE
            v.product_id = #{productId}
            AND m.is_recruit=1

            GROUP BY d.hospital_id
            HAVING 1=1

            <if test="startDate !=null">
                AND MIN(DATE_FORMAT( v.create_time, '%Y-%m' )) &gt;= #{startDate}
            </if>
            <if test="endDate !=null">
                AND MIN(DATE_FORMAT( v.create_time, '%Y-%m' )) &lt; #{endDate}
            </if>
        ) t

    </select>


    <!-- 招募医生数量 -->
    <select id="getRecruitDoctor" resultType="java.lang.Integer">
        SELECT IFNULL(COUNT(*), 0) FROM (
            SELECT
            d.id
            FROM
            virtual_doctor_call_info v
            INNER JOIN doctor d ON v.virtual_doctor_id = d.id
            INNER JOIN virtual_doctor_call_info_mend m
            ON v.id=m.call_id
            WHERE
            v.product_id = #{productId}
            AND m.is_recruit=1

            GROUP BY d.id
            HAVING 1=1
            <if test="startDate !=null">
                AND MIN(DATE_FORMAT( v.create_time, '%Y-%m' )) &gt;= #{startDate}
            </if>
            <if test="endDate !=null">
                AND MIN(DATE_FORMAT( v.create_time, '%Y-%m' )) &lt; #{endDate}
            </if>
        ) t
    </select>

    <!-- 成功招募的医生中，有手机号的医生 -->
    <select id="getHasMobileDoctor" resultType="java.lang.Integer">

        SELECT IFNULL(COUNT(DISTINCT d.id), 0) FROM doctor_telephone dt
        INNER JOIN doctor d
        ON dt.doctor_id=d.id
        WHERE LEFT(dt.telephone, 1)=1
        AND CHAR_LENGTH(dt.telephone)=11
        AND d.id IN
        (
            SELECT
            d.id
            FROM
            virtual_doctor_call_info v
            INNER JOIN doctor d ON v.virtual_doctor_id = d.id
            INNER JOIN virtual_doctor_call_info_mend m
            ON v.id=m.call_id
            WHERE
            v.product_id = #{productId}
            AND m.is_recruit=1

            GROUP BY d.id
            HAVING 1=1
            <if test="startDate !=null">
                AND MIN(DATE_FORMAT( v.create_time, '%Y-%m' )) &gt;= #{startDate}
            </if>
            <if test="endDate !=null">
                AND MIN(DATE_FORMAT( v.create_time, '%Y-%m' )) &lt; #{endDate}
            </if>
        )

    </select>


    <!-- 成功招募的医生中，有微信的医生 -->
    <select id="getHasWechatDoctor" resultType="java.lang.Integer">
        SELECT IFNULL(COUNT(DISTINCT d.id), 0) FROM doctor_mend dm
        INNER JOIN doctor d
        ON dm.virtual_doctor_id=d.id
        WHERE dm.wechat IS NOT NULL
        AND dm.wechat!=''
        AND d.id IN
        (
        SELECT
        d.id
        FROM
        virtual_doctor_call_info v
        INNER JOIN doctor d ON v.virtual_doctor_id = d.id
        INNER JOIN virtual_doctor_call_info_mend m
        ON v.id=m.call_id
        WHERE
        v.product_id = #{productId}
        AND m.is_recruit=1

        GROUP BY d.id
        HAVING 1=1
        <if test="startDate !=null">
            AND MIN(DATE_FORMAT( v.create_time, '%Y-%m' )) &gt;= #{startDate}
        </if>
        <if test="endDate !=null">
            AND MIN(DATE_FORMAT( v.create_time, '%Y-%m' )) &lt; #{endDate}
        </if>
        )
    </select>

    <!-- 成功招募的医生中，有微信的医生 -->
    <select id="getAddWechatDoctor" resultType="java.lang.Integer">
        SELECT IFNULL(COUNT(DISTINCT d.id), 0) FROM virtual_message vm
        INNER JOIN doctor d
        ON vm.doctor_id=d.id
        WHERE d.id IN
        (
        SELECT
        d.id
        FROM
        virtual_doctor_call_info v
        INNER JOIN doctor d ON v.virtual_doctor_id = d.id
        INNER JOIN virtual_doctor_call_info_mend m
        ON v.id=m.call_id
        WHERE
        v.product_id = #{productId}
        AND m.is_recruit=1

        GROUP BY d.id
        HAVING 1=1
        <if test="startDate !=null">
            AND MIN(DATE_FORMAT( v.create_time, '%Y-%m' )) &gt;= #{startDate}
        </if>
        <if test="endDate !=null">
            AND MIN(DATE_FORMAT( v.create_time, '%Y-%m' )) &lt; #{endDate}
        </if>
        )
    </select>
</mapper>