<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.nuoxin.virtual.rep.api.mybatis.MonthlyRecruitMapper">

    <!-- 联系医院数量 -->
    <select id="getContactHospital" resultType="java.lang.Integer">
        SELECT
        COUNT( DISTINCT d.hospital_id )
        FROM
        virtual_doctor_call_info v
        INNER JOIN doctor d ON v.virtual_doctor_id = d.id
        INNER JOIN hospital h ON d.hospital_id=h.id
        WHERE
        v.product_id = #{productId}
        AND v.visit_channel=1

        <if test="startDate !=null">
            AND DATE_FORMAT( v.create_time, '%Y-%m' ) &gt;= #{startDate}
        </if>

        <if test="endDate !=null">
            AND DATE_FORMAT( v.create_time, '%Y-%m' ) &lt;=  #{endDate}
        </if>

    </select>


    <!-- 联系医生数量 -->
    <select id="getContactDoctor" resultType="java.lang.Integer">
        SELECT
        COUNT( DISTINCT d.id )
        FROM
        virtual_doctor_call_info v
        INNER JOIN doctor d ON v.virtual_doctor_id = d.id
        INNER JOIN hospital h ON d.hospital_id=h.id
        WHERE
        v.product_id = #{productId}
        AND v.visit_channel=1
        <if test="startDate !=null">
            AND DATE_FORMAT( v.create_time, '%Y-%m' ) &gt;= #{startDate}
        </if>

        <if test="endDate !=null">
            AND DATE_FORMAT( v.create_time, '%Y-%m' ) &lt;=  #{endDate}
        </if>
    </select>



    <!-- 接触医院数量 -->
    <select id="getTouchHospital" resultType="java.lang.Integer">
        SELECT
        COUNT( DISTINCT d.hospital_id )
        FROM
        virtual_doctor_call_info v
        INNER JOIN doctor d ON v.virtual_doctor_id = d.id
        INNER JOIN hospital h ON d.hospital_id=h.id
        WHERE
        v.product_id = #{productId}
        AND v.visit_channel=1
        AND v.status_name='answer'

        <if test="startDate !=null">
            AND DATE_FORMAT( v.create_time, '%Y-%m' ) &gt;= #{startDate}
        </if>

        <if test="endDate !=null">
            AND DATE_FORMAT( v.create_time, '%Y-%m' ) &lt;=  #{endDate}
        </if>


    </select>


    <!-- 接触医生数量 -->
    <select id="getTouchDoctor" resultType="java.lang.Integer">
        SELECT
        COUNT( DISTINCT d.id )
        FROM
        virtual_doctor_call_info v
        INNER JOIN doctor d ON v.virtual_doctor_id = d.id
        INNER JOIN hospital h ON d.hospital_id=h.id
        WHERE
        v.product_id = #{productId}
        AND v.visit_channel=1
        AND v.status_name='answer'

        <if test="startDate !=null">
            AND DATE_FORMAT( v.create_time, '%Y-%m' ) &gt;= #{startDate}
        </if>

        <if test="endDate !=null">
            AND DATE_FORMAT( v.create_time, '%Y-%m' ) &lt;=  #{endDate}
        </if>
    </select>




    <!-- 招募医院数量 -->
    <select id="getRecruitHospital" resultType="java.lang.Integer">
        SELECT IFNULL(COUNT(*), 0) FROM (
            SELECT
            d.hospital_id
            FROM
            virtual_doctor_call_info v
            INNER JOIN doctor d ON v.virtual_doctor_id = d.id
            INNER JOIN hospital h ON d.hospital_id=h.id
            INNER JOIN virtual_doctor_call_info_mend m
            ON v.id=m.call_id
            WHERE
            v.product_id = #{productId}
            AND m.is_recruit=1

            GROUP BY d.hospital_id
            HAVING 1=1

            <if test="startDate !=null">
                AND MIN(DATE_FORMAT( m.create_time, '%Y-%m' )) &gt;= #{startDate}
            </if>
            <if test="endDate !=null">
                AND MIN(DATE_FORMAT( m.create_time, '%Y-%m' )) &lt;= #{endDate}
            </if>
        ) t

    </select>


    <!-- 招募医生数量 -->
    <select id="getRecruitDoctor" resultType="java.lang.Integer">
        SELECT IFNULL(COUNT(*), 0) FROM (
            SELECT
            d.id
            FROM
            virtual_doctor_call_info v
            INNER JOIN doctor d ON v.virtual_doctor_id = d.id
            INNER JOIN hospital h ON d.hospital_id=h.id
            INNER JOIN virtual_doctor_call_info_mend m
            ON v.id=m.call_id
            WHERE
            v.product_id = #{productId}
            AND m.is_recruit=1

            GROUP BY d.id
            HAVING 1=1
            <if test="startDate !=null">
                AND MIN(DATE_FORMAT( m.create_time, '%Y-%m' )) &gt;= #{startDate}
            </if>
            <if test="endDate !=null">
                AND MIN(DATE_FORMAT( m.create_time, '%Y-%m' )) &lt;= #{endDate}
            </if>
        ) t
    </select>



    <!-- 每月招募医生数量 -->
    <select id="getMonthRecruitDoctorList" resultType="com.nuoxin.virtual.rep.api.web.controller.response.v3_0.monthly.MonthlyRecruitDetailResponse">
        SELECT t.m `month`, COUNT(DISTINCT t.doctor_id) recruitDoctor FROM (
        SELECT
        d.id doctor_id, MIN(DATE_FORMAT( m.create_time, '%Y-%m' )) m
        FROM
        virtual_doctor_call_info v
        INNER JOIN doctor d ON v.virtual_doctor_id = d.id
        INNER JOIN hospital h ON d.hospital_id=h.id
        INNER JOIN virtual_doctor_call_info_mend m
        ON v.id=m.call_id
        WHERE
        v.product_id = #{productId}
        AND m.is_recruit=1

        GROUP BY d.id
        HAVING 1=1
        <if test="startDate !=null">
            AND MIN(DATE_FORMAT( m.create_time, '%Y-%m' )) &gt;= #{startDate}
        </if>
        <if test="endDate !=null">
            AND MIN(DATE_FORMAT( m.create_time, '%Y-%m' )) &lt;= #{endDate}
        </if>
        ) t
        GROUP BY t.m

    </select>




    <!-- 成功招募的医生中，有手机号的医生 -->
    <select id="getHasMobileDoctor" resultType="java.lang.Integer">

        SELECT IFNULL(COUNT(DISTINCT d.id), 0) FROM doctor_telephone dt
        INNER JOIN doctor d
        ON dt.doctor_id=d.id
        WHERE LEFT(dt.telephone, 1)=1
        AND CHAR_LENGTH(dt.telephone)=11
        AND d.id IN
        (
            SELECT
            d.id
            FROM
            virtual_doctor_call_info v
            INNER JOIN doctor d ON v.virtual_doctor_id = d.id
            INNER JOIN hospital h ON d.hospital_id=h.id
            INNER JOIN virtual_doctor_call_info_mend m
            ON v.id=m.call_id
            WHERE
            v.product_id = #{productId}
            AND m.is_recruit=1

            GROUP BY d.id
            HAVING 1=1
            <if test="startDate !=null">
                AND MIN(DATE_FORMAT( m.create_time, '%Y-%m' )) &gt;= #{startDate}
            </if>
            <if test="endDate !=null">
                AND MIN(DATE_FORMAT( m.create_time, '%Y-%m' )) &lt;= #{endDate}
            </if>
        )

    </select>



    <!-- 每月成功招募的医生中，有手机号的医生 -->
    <select id="getMonthHasMobileDoctorList" resultType="com.nuoxin.virtual.rep.api.web.controller.response.v3_0.monthly.MonthlyRecruitMobileDetailResponse">

        SELECT t.`month`, COUNT(DISTINCT t.doctor_id) hasMobileDoctor  FROM doctor_telephone dt INNER JOIN
        (
        SELECT
        d.id doctor_id, MIN(DATE_FORMAT( m.create_time, '%Y-%m' )) `month`
        FROM
        virtual_doctor_call_info v
        INNER JOIN doctor d ON v.virtual_doctor_id = d.id
        INNER JOIN hospital h ON d.hospital_id=h.id
        INNER JOIN virtual_doctor_call_info_mend m
        ON v.id=m.call_id
        WHERE
        v.product_id = #{productId}
        AND m.is_recruit=1

        GROUP BY d.id
        HAVING 1=1
        <if test="startDate !=null">
            AND MIN(DATE_FORMAT( m.create_time, '%Y-%m' )) &gt;= #{startDate}
        </if>
        <if test="endDate !=null">
            AND MIN(DATE_FORMAT( m.create_time, '%Y-%m' )) &lt;= #{endDate}
        </if>
        ) t
        ON dt.doctor_id=t.doctor_id
        WHERE LEFT(dt.telephone, 1)=1
        AND CHAR_LENGTH(dt.telephone)=11
        GROUP BY t.`month`

    </select>




    <!-- 成功招募的医生中，有微信的医生 -->
    <select id="getHasWechatDoctor" resultType="java.lang.Integer">
        SELECT IFNULL(COUNT(DISTINCT d.id), 0) FROM doctor_mend dm
        INNER JOIN doctor d
        ON dm.virtual_doctor_id=d.id
        WHERE dm.wechat IS NOT NULL
        AND dm.wechat!=''
        AND d.id IN
        (
        SELECT
        d.id
        FROM
        virtual_doctor_call_info v
        INNER JOIN doctor d ON v.virtual_doctor_id = d.id
        INNER JOIN hospital h ON d.hospital_id=h.id
        INNER JOIN virtual_doctor_call_info_mend m
        ON v.id=m.call_id
        WHERE
        v.product_id = #{productId}
        AND m.is_recruit=1

        GROUP BY d.id
        HAVING 1=1
        <if test="startDate !=null">
            AND MIN(DATE_FORMAT( m.create_time, '%Y-%m' )) &gt;= #{startDate}
        </if>
        <if test="endDate !=null">
            AND MIN(DATE_FORMAT( m.create_time, '%Y-%m' )) &lt;= #{endDate}
        </if>
        )
    </select>




    <!-- 每月成功招募的医生中，有微信的医生 -->
    <select id="getMonthHasWechatDoctorList" resultType="com.nuoxin.virtual.rep.api.web.controller.response.v3_0.monthly.MonthlyRecruitWechatDetailResponse">

        SELECT t.`month`, COUNT(DISTINCT t.doctor_id) hasWechatDoctor
        FROM doctor_mend dm INNER JOIN
        (
        SELECT
        d.id doctor_id, MIN(DATE_FORMAT( m.create_time, '%Y-%m' )) `month`
        FROM
        virtual_doctor_call_info v
        INNER JOIN doctor d ON v.virtual_doctor_id = d.id
        INNER JOIN hospital h ON d.hospital_id=h.id
        INNER JOIN virtual_doctor_call_info_mend m
        ON v.id=m.call_id
        WHERE
        v.product_id = #{productId}
        AND m.is_recruit=1

        GROUP BY d.id
        HAVING 1=1
        <if test="startDate !=null">
            AND MIN(DATE_FORMAT( m.create_time, '%Y-%m' )) &gt;= #{startDate}
        </if>
        <if test="endDate !=null">
            AND MIN(DATE_FORMAT( m.create_time, '%Y-%m' )) &lt;= #{endDate}
        </if>
        ) t
        ON dm.virtual_doctor_id=t.doctor_id
        WHERE dm.wechat IS NOT NULL
        AND dm.wechat!=''
        GROUP BY t.`month`


    </select>




    <!-- 成功招募的医生中，有微信的医生 -->
    <select id="getAddWechatDoctor" resultType="java.lang.Integer">
        SELECT IFNULL(COUNT(DISTINCT d.id), 0) FROM virtual_message vm
        INNER JOIN doctor d
        ON vm.doctor_id=d.id
        WHERE d.id IN
        (
        SELECT
        d.id
        FROM
        virtual_doctor_call_info v
        INNER JOIN doctor d ON v.virtual_doctor_id = d.id
        INNER JOIN hospital h ON d.hospital_id=h.id
        INNER JOIN virtual_doctor_call_info_mend m
        ON v.id=m.call_id
        WHERE
        v.product_id = #{productId}
        AND m.is_recruit=1

        GROUP BY d.id
        HAVING 1=1
        <if test="startDate !=null">
            AND MIN(DATE_FORMAT( m.create_time, '%Y-%m' )) &gt;= #{startDate}
        </if>
        <if test="endDate !=null">
            AND MIN(DATE_FORMAT( m.create_time, '%Y-%m' )) &lt;= #{endDate}
        </if>
        )
    </select>




    <!-- 每月成功招募的医生中，有微信的医生 -->
    <select id="getMonthAddWechatDoctorList" resultType="com.nuoxin.virtual.rep.api.web.controller.response.v3_0.monthly.MonthlyRecruitAddWechatDetailResponse">

        SELECT t.`month`, COUNT(DISTINCT t.doctor_id) addWechatDoctor
        FROM virtual_message vm  INNER JOIN
        (
        SELECT
        d.id doctor_id, MIN(DATE_FORMAT( m.create_time, '%Y-%m' )) `month`
        FROM
        virtual_doctor_call_info v
        INNER JOIN doctor d ON v.virtual_doctor_id = d.id
        INNER JOIN hospital h ON d.hospital_id=h.id
        INNER JOIN virtual_doctor_call_info_mend m
        ON v.id=m.call_id
        WHERE
        v.product_id = #{productId}
        AND m.is_recruit=1

        GROUP BY d.id
        HAVING 1=1
        <if test="startDate !=null">
            AND MIN(DATE_FORMAT( m.create_time, '%Y-%m' )) &gt;= #{startDate}
        </if>
        <if test="endDate !=null">
            AND MIN(DATE_FORMAT( m.create_time, '%Y-%m' )) &lt;= #{endDate}
        </if>
        ) t
        ON vm.doctor_id=t.doctor_id
        GROUP BY t.`month`
    </select>


    <!-- 得到每个省份招募的医生数，医院数 -->
    <select id="getMonthlyProvinceRecruitList" resultType="com.nuoxin.virtual.rep.api.web.controller.response.v3_0.monthly.MonthlyProvinceRecruitResponse">
        SELECT
        IF(h.province IS NULL OR h.province='', '其他', h.province) province,
        COUNT( DISTINCT h.id ) recruitHospital,
        COUNT( DISTINCT d.id ) recruitDoctor
        FROM
        doctor d
        INNER JOIN hospital h ON d.hospital_id = h.id
        WHERE
        d.id IN (
        SELECT
        d.id
        FROM
        virtual_doctor_call_info_mend m
        INNER JOIN doctor d ON m.virtual_doctor_id = d.id
        WHERE
        m.product_id = #{productId}
        AND m.is_recruit = 1
        GROUP BY
        d.id
        HAVING
        1 = 1
        <if test="startDate !=null">
            AND MIN(DATE_FORMAT( m.create_time, '%Y-%m' )) &gt;= #{startDate}
        </if>
        <if test="endDate !=null">
            AND MIN(DATE_FORMAT( m.create_time, '%Y-%m' )) &lt;= #{endDate}
        </if>
        )
        GROUP BY
        h.province
        ORDER BY recruitHospital DESC
    </select>


    <!-- 每个医院级别招募的医生数 -->
    <select id="getMonthlyHospitalLevelRecruitList" resultType="com.nuoxin.virtual.rep.api.web.controller.response.v3_0.monthly.MonthlyHospitalLevelRecruitResponse">
        SELECT
        IFNULL(h.`level`, 0) hospitalLevel,
        COUNT( DISTINCT d.id ) recruitDoctor
        FROM
        doctor d
        INNER JOIN hospital h ON d.hospital_id = h.id
        WHERE
        d.id IN (
        SELECT
        d.id
        FROM
        virtual_doctor_call_info_mend m
        INNER JOIN doctor d ON m.virtual_doctor_id = d.id
        WHERE
        m.product_id = #{productId}
        AND m.is_recruit = 1
        GROUP BY
        d.id
        HAVING
        1 = 1

        <if test="startDate !=null">
            AND MIN(DATE_FORMAT( m.create_time, '%Y-%m' )) &gt;= #{startDate}
        </if>
        <if test="endDate !=null">
            AND MIN(DATE_FORMAT( m.create_time, '%Y-%m' )) &lt;= #{endDate}
        </if>

        )
        GROUP BY
        h.`level`
        ORDER BY h.`level` DESC
    </select>

    <!-- 每个科室医生招募数据 -->
    <select id="getMonthlyDepartRecruitList" resultType="com.nuoxin.virtual.rep.api.web.controller.response.v3_0.monthly.MonthlyDepartRecruitResponse">
        SELECT
        IF(dd.depart IS NULL OR dd.depart='', '其他', dd.depart) depart,
        COUNT(DISTINCT dd.id) recruitDoctor FROM doctor dd WHERE dd.id IN
        (
        SELECT
        d.id
        FROM
        virtual_doctor_call_info_mend m
        INNER JOIN doctor d ON m.virtual_doctor_id = d.id
        WHERE
        m.product_id = #{productId}
        AND m.is_recruit = 1
        GROUP BY
        d.id
        HAVING
        1 = 1

        <if test="startDate !=null">
            AND MIN(DATE_FORMAT( m.create_time, '%Y-%m' )) &gt;= #{startDate}
        </if>
        <if test="endDate !=null">
            AND MIN(DATE_FORMAT( m.create_time, '%Y-%m' )) &lt;= #{endDate}
        </if>
        )
        GROUP BY dd.depart
        ORDER BY dd.depart
        DESC
    </select>

    <!-- 每个医生级别招募医生数据 -->
    <select id="getMonthlyDoctorLevelRecruitList" resultType="com.nuoxin.virtual.rep.api.web.controller.response.v3_0.monthly.MonthlyDoctorLevelRecruitResponse">
        SELECT v2.dynamic_field_value doctorLevel,
        COUNT(DISTINCT v2.doctor_id) recruitDoctor FROM virtual_doctor_dynamic_field v
        INNER JOIN virtual_doctor_dynamic_field_value v2
        ON v.id=v2.dynamic_field_id
        WHERE v.product_id=0
        AND v.field_name='医生职称'
        AND v2.doctor_id IN
        (
        SELECT
        d.id
        FROM
        virtual_doctor_call_info_mend m
        INNER JOIN doctor d ON m.virtual_doctor_id = d.id
        WHERE
        m.product_id = #{productId}
        AND m.is_recruit = 1
        GROUP BY
        d.id
        HAVING
        1 = 1
        <if test="startDate !=null">
            AND MIN(DATE_FORMAT( m.create_time, '%Y-%m' )) &gt;= #{startDate}
        </if>
        <if test="endDate !=null">
            AND MIN(DATE_FORMAT( m.create_time, '%Y-%m' )) &lt;= #{endDate}
        </if>
        )
        GROUP BY v2.dynamic_field_value
    </select>

    <!-- 得到医生动态添加的医生级别 -->
    <select id="getDoctorDynamicLevelStr" resultType="java.lang.String">
        SELECT field_value FROM virtual_doctor_dynamic_field WHERE field_name='医生职称' AND product_id=0 LIMIT 1
    </select>


</mapper>