<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.nuoxin.virtual.rep.api.mybatis.ProductClassificationMapper">

    <insert id="add">
        INSERT INTO virtual_product_classification(product_id, field_value,field_type, is_required, is_supplement)
        VALUES
        <foreach collection="bean.fieldValueList" item="fieldValue" separator=",">
            (#{bean.productId}, #{fieldValue}, #{bean.fieldType}, #{bean.required}, #{bean.supplement})
        </foreach>
    </insert>

    <delete id="deleteByProductId">
        DELETE FROM virtual_product_classification
        WHERE product_id=#{productId}
    </delete>

    <!-- 根据产品查询医生分型, 列表形式-->
    <select id="getProductClassificationList" resultType="com.nuoxin.virtual.rep.api.web.controller.response.v2_5.set.ProductClassificationResponseBean">
        SELECT id, field_value fieldValue, field_type fieldType,is_required required, is_supplement supplement
        FROM virtual_product_classification
        WHERE product_id=#{productId}
    </select>

    <!-- 根据产品查询医生分型, 字符串形式多个以逗号分开 -->
    <select id="getProductClassificationField" resultType="com.nuoxin.virtual.rep.api.web.controller.response.v2_5.set.ProductClassificationFieldResponseBean">
        SELECT GROUP_CONCAT(field_value) fieldValue, field_type fieldType,is_required required, is_supplement supplement
        FROM virtual_product_classification
        WHERE product_id=#{productId}
        GROUP BY field_type,is_required,is_supplement
    </select>

    <!-- 医生选中的分型 -->
    <select id="getDoctorClassificationList" resultType="java.lang.Long">
        SELECT DISTINCT classification_id
        FROM virtual_doctor_classification
        WHERE product_id=#{productId}
        AND doctor_id=#{doctorId}
    </select>

    <!-- 删除医生的分型 -->
    <delete id="deleteDoctorClassificationByProductId">
        DELETE
        FROM virtual_doctor_classification
        WHERE product_id=#{productId}
        AND doctor_id=#{doctorId}
    </delete>

    <!-- 新增医生分型 -->
    <insert id="addDoctorClassification">
        INSERT INTO virtual_doctor_classification(product_id, classification_id, doctorId)
        VALUES
        <foreach collection="classificationIdList" item="classificationId" separator=",">
            (#{productId}, #{classificationId}, #{doctorId})
        </foreach>
    </insert>

</mapper>