<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.nuoxin.virtual.rep.api.mybatis.ProductLineMapper">

    <resultMap id="productResultMap" type="com.nuoxin.virtual.rep.api.entity.ProductLine">
        <id column="prod_id" property="id" jdbcType="BIGINT"/>
        <result column="e_id" property="drugId" jdbcType="BIGINT" />
        <result column="prod_name" property="name" jdbcType="VARCHAR" />
        <result column="prod_desc" property="desc" jdbcType="VARCHAR" />
        <result column="prod_remarks" property="remark" jdbcType="VARCHAR" />
        <result column="p_key_word" property="pkeyWord" jdbcType="VARCHAR" />
        <result column="c_key_word" property="ckeyWord" jdbcType="VARCHAR" />
        <result column="wechat_share_icon" property="shareIocn" jdbcType="VARCHAR" />
    </resultMap>

    <sql id="keywordsql">
        pl.prod_id,pl.e_id,pl.prod_name,pl.prod_desc,pl.prod_remarks,pl.p_key_word,pl.c_key_word,pl.wechat_share_icon
    </sql>

    <select id="getList" parameterType="java.lang.String"
            resultType="com.nuoxin.virtual.rep.api.web.controller.response.product.ProductResponseBean">
        select distinct  pl.prod_id productId, pl.prod_name productName
        from product_line pl inner join product_user pu
        on pu.prod_id=pl.prod_id
        join drug_user du on du.id=pu.user_id
        <if test="doctorId != null and doctorId !=0">
            INNER JOIN drug_user_doctor dud
            ON dud.prod_id=pl.prod_id AND dud.drug_user_id=du.id AND dud.is_available=1 AND dud.doctor_id=#{doctorId}
        </if>
        where du.leader_path like #{leaderPath}  group by pl.prod_id
    </select>

    <select id="findByLeaderPath" resultMap="productResultMap">
        select <include refid="keywordsql"/> from product_line pl join product_user pu on pu.prod_id=pl.prod_id join drug_user du on du.id=pu.user_id where du.leader_path like #{0,jdbcType=VARCHAR}  group by pl.prod_id
    </select>

    <select id="getProductIds" resultType="java.lang.Long">
        select pl.prod_id from product_line pl join product_user pu on pu.prod_id=pl.prod_id join drug_user du on du.id=pu.user_id where du.leader_path like #{0,jdbcType=VARCHAR} group by pl.prod_id
    </select>

	<!-- 以下是 v2.5 使用到的 -->
	
    <select id="getListByDrugUserId" resultType="com.nuoxin.virtual.rep.api.web.controller.response.product.ProductResponseBean">
        SELECT 
        	DISTINCT  pl.prod_id productId, pl.prod_name productName 
        FROM product_line pl 
        JOIN product_user pu 
            ON pu.prod_id=pl.prod_id 
            AND pu.user_id IN 
            <foreach collection="virtualDrugUserIds" item="virtualDrugUserId" open="(" close=")" separator=",">
 				#{virtualDrugUserId}
			</foreach>
            
    </select>


</mapper>