<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.nuoxin.virtual.rep.api.mybatis.ProductClassificationFrequencyMapper">

    <insert id="batchInsert">
        INSERT INTO virtual_doctor_classification_frequency(product_id, classification, potential, visit_frequency, batch_no)
        VALUES
        <foreach collection ="list" item="f" separator =",">
            (#{f.productId}, #{f.classification},#{f.potential}, #{f.visitFrequency}, #{f.batchNo})
        </foreach>
    </insert>

    <!-- 查询总数，用来校验某个潜力的分型是否已经录入 -->
    <select id="getClassificationCountByPotential" resultType="java.lang.Integer">
        SELECT COUNT(*) FROM virtual_doctor_classification_frequency WHERE potential=#{potential}
        AND classification IN
        <foreach collection ="classificationList" item="classification" open="(" close=")" separator =",">
            #{classification}
        </foreach>
    </select>

    <!-- 得到产品的分型拜访频次 -->
    <select id="getProductClassificationFrequencyList" resultType="com.nuoxin.virtual.rep.api.web.controller.response.v2_5.set.ProductClassificationFrequencyResponseBean">
        SELECT
            f.batch_no batchNo,
            GROUP_CONCAT(DISTINCT f.classification) classification,
            GROUP_CONCAT(DISTINCT f.potential) potential,
            GROUP_CONCAT(DISTINCT f.potential) selectPotential,
            f.visit_frequency frequency
        FROM
            virtual_doctor_classification_frequency f
        WHERE
            f.product_id = #{productId}
        GROUP BY
            f.batch_no
    </select>


    <delete id="deleteByBatchNo">
        DELETE FROM virtual_doctor_classification_frequency
        WHERE batch_no=#{batchNo}
    </delete>

    <select id="getProductClassificationListByBatchNo" resultType="com.nuoxin.virtual.rep.api.web.controller.response.v2_5.set.ProductClassificationResponseBean">
        SELECT DISTINCT c.id, c.field_value fieldValue, f.batch_no batchNo   FROM virtual_doctor_classification_frequency f
        INNER JOIN virtual_product_classification c
        ON f.classification_id=c.id
        WHERE f.batch_no IN
        <foreach collection ="batchNoList" item="batchNo" open="(" close=")" separator =",">
            #{batchNo}
        </foreach>
    </select>

    <!-- 得到产品下设置的分型和潜力拜访频次 -->
    <select id="getFrequencyList" resultType="com.nuoxin.virtual.rep.api.web.controller.response.v2_5.set.DoctorPotentialClassificationResponseBean">
        SELECT
        potential,
        classification,
        min(visit_frequency) frequency
    FROM
        virtual_doctor_classification_frequency
    WHERE
        product_id IN
        <foreach collection ="productIdList" item="productId" open="(" close=")" separator =",">
            #{productId}
        </foreach>
    GROUP BY
        potential,
        classification

    </select>

</mapper>