<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.nuoxin.virtual.rep.api.mybatis.VirtualDoctorCallInfoMendMapper">

	<!-- 保存问卷作答 -->
	<insert id="saveVirtualDoctorCallInfoMend" keyProperty="callId" useGeneratedKeys="true"
		parameterType="com.nuoxin.virtual.rep.api.entity.v2_5.VirtualDoctorCallInfoParams">
		INSERT INTO virtual_doctor_call_info_mend
		(virtual_drug_user_id, virtual_doctor_id, doctor_questionnaire_id, product_id,
		 next_visit_time, visit_result, call_id, attitude, create_time)
		VALUES
		(#{virtualDrugUserId}, #{virtualDoctorId}, #{doctorQuestionnaireId}, #{productId},
		#{nextVisitTime}, #{visitResult}, #{callId}, #{attitude}, NOW())
	</insert>
	
	<select id="getCallVisitCount" resultType="java.lang.Integer">
		SELECT 
			count(*)
		FROM virtual_doctor_call_info
		WHERE 
			virtual_doctor_id=#{virtualDoctorId}
			AND virtual_drug_user_id=#{virtualDrugUserId}
	</select>
	
	<select id="getCallVisitList" resultType="com.nuoxin.virtual.rep.api.entity.v2_5.CallVisitBean">
		SELECT 
			call_time AS callTime, status_name AS statueName, call_url AS callUrl, attitude, remark, create_time AS createTime 
		FROM virtual_doctor_call_info
		WHERE 
			virtual_doctor_id=#{virtualDoctorId}
			AND virtual_drug_user_id=#{virtualDrugUserId}
		LIMIT #{currentSize}, #{pageSize}
	</select>

</mapper>

