<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.nuoxin.virtual.rep.api.mybatis.VirtualDoctorCallInfoMendMapper">

	<!-- 保存问卷作答 -->
	<insert id="saveVirtualDoctorCallInfoMend" keyProperty="callId" useGeneratedKeys="true"
		parameterType="com.nuoxin.virtual.rep.api.entity.v2_5.VirtualDoctorCallInfoParams">
		INSERT INTO virtual_doctor_call_info_mend
		(virtual_drug_user_id, virtual_doctor_id, doctor_questionnaire_id, product_id,
		 next_visit_time, visit_result, call_id, attitude, create_time)
		VALUES
		(#{virtualDrugUserId}, #{virtualDoctorId}, #{doctorQuestionnaireId}, #{productId},
		#{nextVisitTime}, #{visitResult}, #{callId}, #{attitude}, NOW())
	</insert>
	
	<select id="getCallVisitMendList" resultType="com.nuoxin.virtual.rep.api.entity.v2_5.CallVisitMendBean">
		SELECT 
			call_id AS callId, attitude, visit_result AS visitResult
		FROM virtual_doctor_call_info_mend
		WHERE 
			call_id IN 
			<foreach collection="callIds" item="callId" open="(" close=")" separator=",">
		   		#{callId}
		  	</foreach> 	
	</select>

</mapper>

