<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.nuoxin.virtual.rep.api.mybatis.WenJuanQuestionnaireMapper">

    <insert id="saveWenJuanProject">
        INSERT INTO wj_project (
            `user`,
            `short_id`,
            `project_id`,
            `title`,
            `status`,
            `create_time`,
            `update_time`,
            `respondent_count`,
            `ptype`
        )
        VALUES
        <foreach collection="list" item="item" separator=",">
            (#{item.user},#{item.shortId},#{item.projectId},#{item.title},#{item.status},#{item.createTime},#{item.updateTime},#{item.respondentCount},#{item.ptype})
        </foreach>

    </insert>

    <!-- 获取库中所有项目的短id -->
    <select id="shortIdList" resultType="java.lang.String">
        SELECT t.short_id FROM wj_project t
    </select>

    <!-- 查询项目列表 -->
    <select id="projectList" resultType="com.nuoxin.virtual.rep.api.entity.v3_0.WenJuanProjectUserAndShortId">
    SELECT
        t.`user`,
        t.`short_id` AS shortId
    FROM
        wj_project t
    </select>

    <!-- 保存问卷网-答卷详情列表 -->
    <insert id="saveAnswerSheet">
        INSERT INTO wj_answer_sheet (
        `rspd_status`,
        `weixin_addr`,
        `weixin_sex`,
        `weixin_nickname`,
        `score`,
        `seq`,
        `source`,
        `time_used`,
        `ip`,
        `finish`,
        `start`,
        `create_time`,
        `short_id`,
        `user`
        )
        VALUES
        <foreach collection="list" item="item" separator=",">
            (#{item.rspdStatus},#{item.weixinAddr},#{item.weixinSex},#{item.weixinNickname},#{item.score},
            #{item.seq},#{item.source},#{item.timeUsed},#{item.ip},#{item.finish},#{item.start},NOW(),#{item.shortId},#{item.user})
        </foreach>
    </insert>

    <!-- 保存问卷网-答卷详情列表 -->
    <insert id="saveAnswer">
        INSERT INTO wj_answer (
        `answer`,
        `type_desc`,
        `title`,
        `seq`,
        `create_time`,
        `short_id`,
        `user`,
        `q_top`
        )
        VALUES
        <foreach collection="list" item="item" separator=",">
            (#{item.answer},#{item.typeDesc},#{item.title},#{item.seq},NOW(),
            #{item.shortId},#{item.user},#{item.qTop})
        </foreach>
    </insert>

    <!-- 查询问卷网-答卷详情列表 -->
    <select id="getAnswerSheetList" resultType="com.nuoxin.virtual.rep.api.entity.v3_0.WenJuanAnswerSheet">
        SELECT
            t.`rspd_status` AS rspdStatus,
            t.`weixin_addr` AS weixinAddr,
            t.`weixin_sex` AS weixinSex,
            t.`weixin_nickname` AS weixinNickname,
            t.`score`,
            t.`seq`,
            t.`source`,
            t.`time_used` AS timeUsed,
            t.`ip`,
            t.`finish`,
            t.`start`,
            t.`short_id` AS shortId,
            t.`user`
        FROM
            wj_answer_sheet t
    </select>

    <!-- 问卷列表分页查询 -->
    <select id="getWenJuanProjectListPage" resultType="com.nuoxin.virtual.rep.api.entity.v3_0.WenJuanProject">
        SELECT
            t.`id`,
            t.`user`,
            t.`short_id` AS shortId,
            t.`project_id` AS projectId,
            t.`title`,
            t.`status`,
            t.`create_time` AS createTime,
            t.`update_time` AS updateTime,
            t.`respondent_count` AS respondentCount,
            t.`ptype`,
            t.`product_id` AS productId,
            t.`product_name` AS productName
        FROM
            wj_project t LEFT JOIN product_line l ON t.product_id = l.prod_id AND l.show_place = 1
        WHERE 1=1

        <if test="productIds != null and productIds.size() > 0">
            AND t.product_id in
            <foreach collection="productIds" item="item" separator="," open="(" close=")">
                #{item}
            </foreach>
        </if>
        <if test="wenJuanProjectRequest.startTimeBefore != '' and wenJuanProjectRequest.startTimeBefore != null">
            AND t.`create_time` &gt;= #{wenJuanProjectRequest.startTimeBefore}
        </if>

        <if test="wenJuanProjectRequest.startTimeAfter != '' and wenJuanProjectRequest.startTimeAfter != null">
            AND t.`create_time` &lt;= #{wenJuanProjectRequest.startTimeAfter}
        </if>

        <if test="wenJuanProjectRequest.title != '' and wenJuanProjectRequest.title != null">
            AND t.`title` LIKE "%"#{wenJuanProjectRequest.title}"%"
        </if>
        LIMIT #{wenJuanProjectRequest.currentSize}, #{wenJuanProjectRequest.pageSize}
    </select>

    <!-- 问卷列表Count -->
    <select id="getWenJuanProjectCount" resultType="java.lang.Integer">
        SELECT
          count(1)
        FROM
            wj_project t LEFT JOIN product_line l ON t.product_id = l.prod_id AND l.show_place = 1
        WHERE 1=1

        <if test="productIds != null and productIds.size() > 0">
            AND t.product_id in
            <foreach collection="productIds" item="item" separator="," open="(" close=")">
                #{item}
            </foreach>
        </if>
        <if test="wenJuanProjectRequest.startTimeBefore != '' and wenJuanProjectRequest.startTimeBefore != null">
            AND t.`create_time` &gt;= #{wenJuanProjectRequest.startTimeBefore}
        </if>

        <if test="wenJuanProjectRequest.startTimeAfter != '' and wenJuanProjectRequest.startTimeAfter != null">
            AND t.`create_time` &lt;= #{wenJuanProjectRequest.startTimeAfter}
        </if>

        <if test="wenJuanProjectRequest.title != '' and wenJuanProjectRequest.title != null">
            AND t.`title` LIKE "%"#{wenJuanProjectRequest.title}"%"
        </if>
    </select>

    <!-- 问卷列表编辑产品 -->
    <update id="wenJuanProductIdAndNameUpdate">
        UPDATE wj_project SET product_id = #{productId} , product_name = #{productName} WHERE id = #{projectId}
    </update>

    <!-- 问卷详情 -->
    <select id="getWenJuanInfoList" resultType="com.nuoxin.virtual.rep.api.entity.v3_0.params.WenJuanInfoParams">
        SELECT
            w.id,
            w.short_id AS shortId,
            m.read_person_id AS readPersonId,
            m.read_person_name AS readPersonName,
            m.wechat_openid AS wechatOpenid,
            m.data_id AS dataId,
            w.`start`,
            w.finish,
            a.title,
            a.answer,
            a.seq,
            a.q_top AS qTop
        FROM
            wj_answer_sheet w
        LEFT JOIN wj_answer a ON w.seq = a.seq
        LEFT JOIN (
            SELECT
                s.id,
                s.data_id,
                s.read_person_id,
                s.read_person_name,
                s.wechat_openid,
                s.create_time
            FROM
                activity_read s
            LEFT JOIN activity_info t ON t.id = s.data_id
            WHERE
                t.source_from = '问卷'
            AND t.content LIKE CONCAT('%/', #{wenJuanInfoRequest.shortId}, '/%')
            AND s.read_person_id != ''
            AND s.read_person_name != ''
            AND s.wechat_openid != ''
            GROUP BY
                read_person_id
        ) m ON a.answer = m.wechat_openid
        WHERE
            w.short_id = #{wenJuanInfoRequest.shortId}
        AND a.q_top = 1
        LIMIT #{wenJuanInfoRequest.currentSize}, #{wenJuanInfoRequest.pageSize}
    </select>

    <!-- 问卷详情Count -->
    <select id="getWenJuanInfoListCount" resultType="java.lang.Integer">
        SELECT
            COUNT(1)
        FROM
            wj_answer_sheet w
        LEFT JOIN wj_answer a ON w.seq = a.seq
        LEFT JOIN (
            SELECT
                s.id,
                s.data_id,
                s.read_person_id,
                s.read_person_name,
                s.wechat_openid,
                s.create_time
            FROM
                activity_read s
            LEFT JOIN activity_info t ON t.id = s.data_id
            WHERE
                t.source_from = '问卷'
            AND t.content LIKE CONCAT('%/', #{wenJuanInfoRequest.shortId}, '/%')
            AND s.read_person_id != ''
            AND s.read_person_name != ''
            AND s.wechat_openid != ''
            GROUP BY
                read_person_id
        ) m ON a.answer = m.wechat_openid
        WHERE
            w.short_id = #{wenJuanInfoRequest.shortId}
        AND a.q_top = 1
    </select>

    <!-- 根据项目短ID、答卷序号查询问卷答案集 -->
    <select id="getWenJuanAnswerListByShortIdAndSeq" resultType="com.nuoxin.virtual.rep.api.entity.v3_0.WenJuanAnswer">
        SELECT #{telPhone} telPhone , t.title, t.answer FROM wj_answer t WHERE t.short_id = #{shortId} AND t.seq = #{seq}
    </select>


    <!-- 根据时间得到问卷问题的答案 -->
    <select id="getQuestionnaireAnswerList" resultType="com.nuoxin.virtual.rep.api.web.controller.response.v3_0.questionnaire.QuestionnaireAnswerResponse">
        SELECT id, answer FROM wj_answer WHERE 1=1
        <if test="startDate !=null">
            AND update_time &gt;= DATE_FORMAT(#{startDate}, '%Y-%m-%d')
        </if>

        <if test="endDate !=null">
            AND update_time &lt;= DATE_FORMAT(#{endDate}, '%Y-%m-%d')
        </if>

    </select>


    <!-- 更新问卷答案中医生手机号 -->
    <update id="updateQuestionnaireAnswerTelephone">
        UPDATE wj_answer
        SET doctor_id=#{doctorId}, telephone=#{telephone}
        WHERE id =#{id}

    </update>


    <update id="updateQuestionnaireAnswerDoctorId">

        UPDATE doctor_telephone dt
        INNER JOIN wj_answer w ON dt.telephone = w.telephone
        SET w.doctor_id = dt.doctor_id
        WHERE
            ( w.doctor_id IS NULL OR w.doctor_id = 0 )
            AND w.telephone IS NOT NULL
            AND w.telephone != ''

    </update>

</mapper>